tests/integration/src/test/resources/org/mule/test/integration/config/endpoint-uri-builder-service-override-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
      xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
		http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">

    <vm:connector name="testConnector">
        <service-overrides endpointBuilder="org.mule.test.integration.config.EndpointUriBuilderOverrideTestCase$TestUriBuilder"/>
    </vm:connector>

    <flow name="HeathrowRestService">
        <vm:inbound-endpoint path="testIn" exchange-pattern="request-response"/>

        <set-variable variableName="path" value="testOut"/>

        <vm:outbound-endpoint path="#[flowVars['path']]"/>
    </flow>

</mule>
