tests/integration/src/test/resources/org/mule/test/message/jms-property-scope-flow.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:spring="http://www.springframework.org/schema/beans"
      xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
      xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
       http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
       http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd">

    <jms:activemq-connector name="test"/>

    <jms:endpoint name="inbound" queue="foo"/>

    <flow name="foo">

        <inbound-endpoint ref="inbound">
            <append-string-transformer message=" bar"/>
            <message-properties-transformer scope="outbound">
                <add-message-property key="foo" value="#[header:INBOUND:foo]"/>
            </message-properties-transformer>
        </inbound-endpoint>


        <echo-component/>
    </flow>


</mule>
