tests/integration/src/test/resources/org/mule/test/message/vm-property-scope.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:spring="http://www.springframework.org/schema/beans"
      xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
      xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/3.0/mule.xsd
       http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/3.0/mule-vm.xsd">

    <vm:endpoint name="inbound" path="/foo"/>
    <vm:endpoint name="inbound2" path="/foo2"/>

    <flow name="foo">
        <inbound-endpoint ref="inbound"/>
        <append-string-transformer message=" bar"/>
        <message-properties-transformer scope="outbound">
            <add-message-property key="foo" value="#[header:INBOUND:foo]"/>
        </message-properties-transformer>
        <echo-component/>
    </flow>

    <model>
        <service name="s1">
            <inbound>
                <inbound-endpoint ref="inbound2" exchange-pattern="request-response"/>
            </inbound>
            <outbound>
                <pass-through-router>
                    <outbound-endpoint address="vm://next" exchange-pattern="request-response">
                        <message-properties-transformer scope="outbound">
                            <add-message-property key="foo" value="#[header:INBOUND:foo]"/>
                        </message-properties-transformer>
                        <response>
                            <message-properties-transformer scope="outbound">
                                <add-message-property key="foo" value="#[header:INBOUND:foo]"/>
                            </message-properties-transformer>
                        </response>
                    </outbound-endpoint>
                </pass-through-router>
            </outbound>
        </service>

        <service name="s2">
            <inbound>
                <inbound-endpoint address="vm://next" exchange-pattern="request-response">
                    <append-string-transformer message=" bar"/>
                    <message-properties-transformer scope="outbound">
                        <add-message-property key="foo" value="#[header:INBOUND:foo]"/>
                    </message-properties-transformer>
                </inbound-endpoint>
            </inbound>
            <echo-component/>
        </service>
    </model>


</mule>
