tests/functional/src/test/resources/org/mule/test/config/redelivery-policy-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:spring="http://www.springframework.org/schema/beans"
      xmlns:mule="http://www.mulesoft.org/schema/mule/core"
      xmlns:test="http://www.mulesoft.org/schema/mule/test"
      xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.mulesoft.org/schema/mule/test http://www.mulesoft.org/schema/mule/test/3.2/mule-test.xsd
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/3.2/mule.xsd">

    <flow name="inMemoryStore">
        <test:component/>
        <idempotent-redelivery-policy maxRedeliveryCount="12">
            <dead-letter-queue>
                <outbound-endpoint address="test://dead-letter-queue"/>
            </dead-letter-queue>
        </idempotent-redelivery-policy>
    </flow>

    <flow name="simpleTextFileStore">
        <test:component/>
        <idempotent-redelivery-policy useSecureHash="false" idExpression="#[message:id]">
            <dead-letter-queue>
                <outbound-endpoint address="test://dead-letter-queue"/>
            </dead-letter-queue>
        </idempotent-redelivery-policy>
    </flow>

    <flow name="customObjectStore">
        <test:component/>
        <idempotent-redelivery-policy>
           <dead-letter-queue>
                <outbound-endpoint address="test://dead-letter-queue"/>
            </dead-letter-queue>
        </idempotent-redelivery-policy>
    </flow>
</mule>

