modules/oauth/src/test/resources/client-credentials/client-credentials-full-config-tls-global.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:oauth2="http://www.mulesoft.org/schema/mule/oauth2"
      xmlns:spring="http://www.springframework.org/schema/beans"
      xmlns:httpn="http://www.mulesoft.org/schema/mule/httpn"
      xmlns:tls="http://www.mulesoft.org/schema/mule/tls"
      xsi:schemaLocation="
       http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
       http://www.mulesoft.org/schema/mule/oauth2 http://www.mulesoft.org/schema/mule/oauth2/current/mule-oauth2.xsd
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
       http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd
       http://www.mulesoft.org/schema/mule/httpn http://www.mulesoft.org/schema/mule/httpn/current/mule-httpn.xsd">

    <spring:bean name="customObjectStore" class="org.mule.runtime.core.util.store.SimpleMemoryObjectStore"/>

    <oauth2:token-manager-config name="tokenManagerConfig" objectStore-ref="customObjectStore"/>

    <tls:context name="tlsContext">
        <tls:trust-store path="ssltest-cacerts.jks" password="changeit"/>
        <tls:key-store path="ssltest-keystore.jks" keyPassword="changeit" password="changeit"/>
    </tls:context>

    <httpn:request-config name="requestConfigWithOAuth">
        <httpn:request-connection>
            <httpn:authentication>
                <oauth2:client-credentials-grant-type
                        clientId="${client.id}"
                        clientSecret="${client.secret}"
                        tokenManager-ref="tokenManagerConfig"
                        tlsContext="tlsContext"
                        scopes="${scopes}"
                        tokenUrl="${token.url}"
                        refreshTokenWhen="#[message.attributes.statusCode == 500]"
                        responseAccessToken="#[payload['access_token']]"
                        responseExpiresIn="#[payload['expires_in']]">
                    <oauth2:custom-parameter-extractors>
                        <oauth2:parameter-extractor paramName="${custom.param.extractor1}"
                                                    value="#[payload['${custom.param.extractor1}']]"/>
                        <oauth2:parameter-extractor paramName="${custom.param.extractor2}"
                                                    value="#[payload['${custom.param.extractor2}']]"/>
                    </oauth2:custom-parameter-extractors>
                </oauth2:client-credentials-grant-type>
            </httpn:authentication>
        </httpn:request-connection>
    </httpn:request-config>

    <flow name="testFlow">
        <httpn:request host="localhost" port="${oauthServerHttpPort}" path="/resource" method="POST"
                      config-ref="requestConfigWithOAuth"/>
    </flow>

</mule>
