tests/integration/src/test/resources/org/mule/config/spring/schema-validation-filter-ref-test.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:script="http://www.mulesoft.org/schema/mule/scripting"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
    xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
        http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">

    <script:filter name="groovyFilter">
        <script:script engine="groovy">
            <script:text>
                return !payload.toString().equals("Mule")
            </script:text>
        </script:script>
    </script:filter>

    <flow name="main">
        <vm:inbound-endpoint path="in" exchange-pattern="request-response">
                <filter ref="groovyFilter" name="scriptFilter"/>
        </vm:inbound-endpoint>
        <vm:outbound-endpoint path="out"/>
    </flow>
</mule>
