extensions/db/src/test/resources/integration/insert/insert-default-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:dbn="http://www.mulesoft.org/schema/mule/dbn"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
            http://www.mulesoft.org/schema/mule/dbn http://www.mulesoft.org/schema/mule/dbn/current/mule-dbn.xsd">


    <flow name="insert">
        <dbn:insert>
            <dbn:sql>INSERT INTO PLANET(POSITION, NAME) VALUES (777, 'Mercury')</dbn:sql>
        </dbn:insert>
    </flow>

    <flow name="insertDynamic">
        <dbn:insert>
            <dbn:sql>INSERT INTO PLANET(POSITION, NAME) VALUES (777, '#[payload]')</dbn:sql>
        </dbn:insert>
    </flow>

    <flow name="insertParameterized">
        <dbn:insert>
            <dbn:sql>INSERT INTO PLANET(POSITION, NAME) VALUES (777, :name)</dbn:sql>
            <dbn:input-parameters>
                <dbn:input-parameter paramName="name" value="#[payload]"/>
            </dbn:input-parameters>
        </dbn:insert>
    </flow>

</mule>
