tests/integration/src/test/resources/dynamic-subflow-test-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:test="http://www.mulesoft.org/schema/mule/test"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/test http://www.mulesoft.org/schema/mule/test/current/mule-test.xsd">

    <flow name="ApplicationFlow">
        <flow-ref name="SubprocessCreateLicense" />
        <logger level="INFO"  />
    </flow>

    <sub-flow name="SubprocessCreateLicense">
        <set-variable variableName="_enricher.name" value="EnrichCreateLicense" />
        <enricher target="#[mel:message.outboundProperties['_enricher.status']]">
            <flow-ref name="#[mel:flowVars['_enricher.name']]" />
        </enricher>
    </sub-flow>

    <sub-flow name="EnrichCreateLicense">
        <test:component />
        <set-payload value="SUCCESS" />
    </sub-flow>
</mule>
