tests/integration/src/test/resources/for-each-until-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:spring="http://www.springframework.org/schema/beans"
      xsi:schemaLocation="
               http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
               http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

    <spring:beans>
        <spring:bean id="objectStore" class="org.mule.util.store.SimpleMemoryObjectStore"/>
    </spring:beans>

    <flow name="varSync">
        <set-variable variableName="count" value="#[0]"/>
        <set-session-variable variableName="count" value="#[0]"/>
        <foreach collection="#[payload]">
            <set-variable variableName="current" value="#[payload]"/>
            <set-session-variable variableName="current" value="#[payload]"/>
            <until-successful synchronous="true">
                <processor-chain>
                    <set-payload value="#[payload]"/>
                    <set-variable variableName="until" value="#[payload]"/>
                    <set-session-variable variableName="until" value="#[payload]"/>
                </processor-chain>
            </until-successful>
            <set-variable variableName="count" value="#[flowVars.count + payload]"/>
            <set-session-variable variableName="count" value="#[sessionVars.count + payload]"/>
        </foreach>
    </flow>

    <flow name="varSyncNoForEach">
        <set-variable variableName="count" value="#[3]"/>
        <set-session-variable variableName="count" value="#[3]"/>
        <set-variable variableName="current" value="#[payload]"/>
        <set-session-variable variableName="current" value="#[payload]"/>
        <until-successful synchronous="true">
            <processor-chain>
                <set-payload value="#[payload]"/>
                <set-variable variableName="until" value="#[payload]"/>
                <set-session-variable variableName="until" value="#[payload]"/>
            </processor-chain>
        </until-successful>
        <set-variable variableName="count" value="#[flowVars.count + payload]"/>
        <set-session-variable variableName="count" value="#[sessionVars.count + payload]"/>
    </flow>

    <flow name="varAsync">
        <set-variable variableName="count" value="#[0]"/>
        <set-session-variable variableName="count" value="#[0]"/>
        <foreach collection="#[payload]">
            <set-variable variableName="current" value="#[payload]"/>
            <set-session-variable variableName="current" value="#[payload]"/>
            <until-successful synchronous="false" objectStore-ref="objectStore">
                <set-payload value="#[payload]"/>
            </until-successful>
            <set-variable variableName="count" value="#[flowVars.count + payload]"/>
            <set-session-variable variableName="count" value="#[sessionVars.count + payload]"/>
        </foreach>
    </flow>

</mule>
