tests/integration/src/test/resources/non-blocking-fully-supported-test-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:test="http://www.mulesoft.org/schema/mule/test"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xsi:schemaLocation="
               http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
               http://www.mulesoft.org/schema/mule/test http://www.mulesoft.org/schema/mule/test/current/mule-test.xsd
               http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">

    <configuration defaultProcessingStrategy="non-blocking">
        <expression-language>
            <global-functions>
                def assertPayload(){payload == org.mule.tck.junit4.AbstractMuleContextTestCase.TEST_MESSAGE}
            </global-functions>
        </expression-language>
    </configuration>

    <flow name="flow">
        <test:assert-intercepting responseSameThread="false" responseExpression="#[assertPayload()]"/>
        <test:non-blocking-processor/>
        <test:assert expression="#[assertPayload()]"/>
    </flow>

    <flow name="subFlow">
        <test:assert-intercepting responseSameThread="false" responseExpression="#[assertPayload()]"/>
        <flow-ref name="subFlowChild"/>
        <test:assert count="1"/>
    </flow>
    <sub-flow name="subFlowChild">
        <test:assert-intercepting responseSameThread="false" responseExpression="#[assertPayload()]"/>
        <test:non-blocking-processor/>
        <test:assert expression="#[assertPayload()]"/>
    </sub-flow>

    <flow name="childFlow">
        <test:assert-intercepting responseSameThread="false" responseExpression="#[assertPayload()]"/>
        <expression-component>flowVars['requestThread'] = Thread.currentThread()</expression-component>
        <flow-ref name="childFlowChild"/>
        <test:assert expression="#[assertPayload()]"/>
        <test:assert expression="#[flowVars['requestThread'] != Thread.currentThread()]"/>
        <test:assert count="1" expression="#[flow.name=='childFlow']"/>
    </flow>
    <flow name="childFlowChild">
        <test:assert-intercepting responseSameThread="false" responseExpression="#[assertPayload()]"/>
        <test:non-blocking-processor/>
        <test:assert expression="#[assertPayload()]"/>
    </flow>

    <flow name="childDefaultFlow">
        <test:assert-intercepting responseSameThread="false" responseExpression="#[assertPayload()]" message="1"/>
        <expression-component>flowVars['requestThread'] = Thread.currentThread()</expression-component>
        <flow-ref name="childDefaultFlowChild"/>
        <test:assert expression="#[assertPayload()]"/>
        <test:assert expression="#[flowVars['requestThread'] != Thread.currentThread()]"/>
        <test:assert expression="#[flow.name=='childDefaultFlow']"/>
    </flow>
    <flow name="childDefaultFlowChild" processingStrategy="default">
        <test:assert-intercepting responseSameThread="false" responseExpression="#[assertPayload()]" message="2"/>
        <test:non-blocking-processor/>
        <logger level="ERROR" message="#[Thread.currentThread()]"/>
        <test:assert expression="#[assertPayload()]"/>
    </flow>

    <flow name="childSyncFlow">
        <test:assert-intercepting responseSameThread="true" responseExpression="#[assertPayload()]"/>
        <expression-component>flowVars['requestThread'] = Thread.currentThread()</expression-component>
        <flow-ref name="childSyncFlowChild"/>
        <test:assert expression="#[assertPayload()]"/>
        <test:assert expression="#[flowVars['requestThread'] == Thread.currentThread()]"/>
        <test:assert expression="#[flow.name=='childSyncFlow']"/>
    </flow>
    <flow name="childSyncFlowChild" processingStrategy="synchronous">
        <test:assert-intercepting responseSameThread="true" responseExpression="#[assertPayload()]"/>
        <test:non-blocking-processor/>
        <test:assert expression="#[assertPayload()]"/>
    </flow>

    <flow name="childAsyncFlow">
        <flow-ref name="childAsyncFlowChild"/>
    </flow>
    <flow name="childAsyncFlowChild" processingStrategy="asynchronous">
        <test:non-blocking-processor/>
        <test:assert expression="#[assertPayload()]"/>
    </flow>

    <flow name="childQueuedAsyncFlow">
        <flow-ref name="childQueuedAsyncFlowChild"/>
    </flow>
    <flow name="childQueuedAsyncFlowChild" processingStrategy="queued-asynchronous">
        <test:non-blocking-processor/>
        <test:assert expression="#[assertPayload()]"/>
    </flow>

    <flow name="processorChain">
        <test:assert-intercepting responseSameThread="false" responseExpression="#[assertPayload()]"/>
        <processor-chain>
            <test:assert-intercepting responseSameThread="false" responseExpression="#[assertPayload()]"/>
            <test:non-blocking-processor/>
        </processor-chain>
        <test:non-blocking-processor/>
        <test:assert expression="#[assertPayload()]"/>
    </flow>

    <flow name="filterAccepts">
        <test:assert-intercepting responseSameThread="false" responseExpression="#[assertPayload()]"/>
        <expression-filter expression="#[true]"/>
        <test:non-blocking-processor/>
        <test:assert expression="#[assertPayload()]"/>
    </flow>

    <flow name="filterRejects">
        <test:assert-intercepting responseCount="0"/>
        <expression-filter expression="#[false]"/>
        <test:non-blocking-processor/>
    </flow>

    <flow name="filterAfterNonBlockingAccepts">
        <test:assert-intercepting responseSameThread="false" responseExpression="#[assertPayload()]"/>
        <test:non-blocking-processor/>
        <expression-filter expression="#[true]"/>
    </flow>

    <flow name="filterAfterNonBlockingRejects">
        <test:assert-intercepting responseCount="0"/>
        <test:non-blocking-processor/>
        <expression-filter expression="#[false]"/>
    </flow>

    <flow name="filterAfterEnricherBeforeNonBlocking">
        <test:assert-intercepting responseCount="0"/>
        <enricher source="#[payload]" target="#[payload]">
            <set-payload value="#[payload]"/>
        </enricher>
        <expression-filter expression="#[false]"/>
        <test:non-blocking-processor/>
    </flow>

    <flow name="filterBeforeNonBlockingAccepts">
        <test:assert-intercepting responseSameThread="false" responseExpression="#[assertPayload()]"/>
        <expression-filter expression="#[true]"/>
        <test:non-blocking-processor/>
        <test:assert expression="#[assertPayload()]"/>
    </flow>

    <flow name="filterBeforeNonBlockingRejects">
        <test:assert-intercepting responseCount="0"/>
        <expression-filter expression="#[false]"/>
        <test:non-blocking-processor/>
    </flow>

    <flow name="security-filter">
        <test:assert-intercepting responseSameThread="false" responseExpression="#[assertPayload()]"/>
        <custom-processor class="org.mule.processor.SecurityFilterMessageProcessor"/>
        <test:non-blocking-processor/>
        <test:assert expression="#[assertPayload()]"/>
    </flow>

    <flow name="transformer">
        <test:assert-intercepting responseSameThread="false" responseExpression="#[assertPayload()]"/>
        <expression-transformer expression="#[true]"/>
        <test:non-blocking-processor/>
        <test:assert expression="#[assertPayload()]"/>
    </flow>

    <flow name="choice">
        <test:assert-intercepting responseSameThread="false" responseExpression="#[assertPayload()]"/>
        <choice>
            <when expression="#[true]">
                <test:assert-intercepting responseSameThread="false" responseExpression="#[assertPayload()]"/>
                <test:non-blocking-processor/>
            </when>
        </choice>
        <test:assert-intercepting responseSameThread="false" responseExpression="#[assertPayload()]"/>
        <test:non-blocking-processor/>
        <test:assert expression="#[assertPayload()]"/>
    </flow>

    <flow name="enricher">
        <test:assert-intercepting responseSameThread="false" responseExpression="#[assertPayload()]"/>
        <enricher source="#[payload]" target="#[payload]">
            <processor-chain>
                <test:assert-intercepting responseSameThread="false" responseExpression="#[assertPayload()]"/>
                <test:non-blocking-processor/>
            </processor-chain>
        </enricher>
        <test:assert-intercepting responseSameThread="false" responseExpression="#[assertPayload()]"/>
        <test:non-blocking-processor/>
        <test:assert expression="#[assertPayload()]"/>
    </flow>

    <flow name="response">
        <test:assert-intercepting responseSameThread="false" responseExpression="#[assertPayload()]"/>
        <response>
            <test:assert expression="#[assertPayload()]"/>
        </response>
        <test:non-blocking-processor/>
        <test:assert expression="#[assertPayload()]"/>
    </flow>

    <flow name="responseWithNullEvent">
        <test:assert-intercepting responseCount="0"/>
        <response>
            <test:assert count="0"/>
        </response>
        <test:non-blocking-processor/>
        <expression-filter expression="#[false]"/>
    </flow>

    <flow name="enricherIssue">
        <enricher target="flowVars['match']">
            <set-payload value="false"/>
        </enricher>
        <message-filter>
            <expression-filter expression="#[true]"/>
        </message-filter>
        <test:non-blocking-processor/>
        <test:assert expression="#[assertPayload()]"/>
    </flow>

    <flow name="enricherIssueNonBlocking">
        <enricher target="flowVars['match']">
            <test:non-blocking-processor/>
        </enricher>
        <message-filter>
            <expression-filter expression="#[true]"/>
        </message-filter>
        <test:non-blocking-processor/>
    </flow>

    <flow name="enricherFlowVar">
        <enricher target="flowVars[org.mule.NonBlockingFullySupportedFunctionalTestCase.FOO]">
            <test:non-blocking-processor/>
        </enricher>
        <test:assert expression="#[assertPayload()]"/>
    </flow>

    <flow name="testOutboundEndpoint">
        <expression-component>flowVars['requestThread'] = Thread.currentThread()</expression-component>
        <test:assert-intercepting responseSameThread="false" responseExpression="#[assertPayload()]"/>
        <set-property propertyName="foo" value="bar"/>
        <outbound-endpoint address="test://test" exchange-pattern="request-response">
            <set-variable variableName="endpointRequestMPInvoked" value="true"/>
            <response>
                <set-variable variableName="endpointResponseMPInvoked" value="true"/>
            </response>
            <property key="responseProperties" value="foo"/>
        </outbound-endpoint>
        <test:assert expression="#[assertPayload()]" />
        <test:assert expression="#[flowVars['endpointRequestMPInvoked'] == 'true']" />
        <test:assert expression="#[flowVars['endpointResponseMPInvoked'] == 'true']" />
        <test:assert expression="#[message.outboundProperties['foo'] == 'bar']" />
        <test:assert expression="#[flowVars['requestThread'] != Thread.currentThread]"/>
    </flow>

    <flow name="testOutboundEndpointError">
        <expression-component>flowVars['requestThread'] = Thread.currentThread()</expression-component>
        <outbound-endpoint address="test://AlwaysFail" exchange-pattern="request-response" />
        <catch-exception-strategy>
            <test:assert expression="#[assertPayload()]" />
            <test:assert expression="#[exception.causedBy(org.mule.api.routing.RoutingException)]" />
            <test:assert expression="#[flowVars['requestThread'] != Thread.currentThread]"/>
        </catch-exception-strategy>
    </flow>

    <flow name="async">
        <test:assert-intercepting responseSameThread="false" responseExpression="#[assertPayload()]"/>
        <async processingStrategy="asynchronous">
            <set-variable variableName="beforeThread" value="#[Thread.currentThread()]"/>
            <test:non-blocking-processor/>
            <test:assert count="1" expression="#[Thread.currentThread()!=beforeThread and assertPayload()]"/>
        </async>
        <test:non-blocking-processor/>
    </flow>

    <flow name="catchExceptionStrategy">
        <test:assert-intercepting responseSameThread="false" responseExpression="#[assertPayload()]"/>
        <flow-ref name="catchExceptionStrategyChild"/>
        <test:assert count="1"/>
    </flow>
    <flow name="catchExceptionStrategyChild">
        <test:component throwException="true"/>
        <catch-exception-strategy>
            <test:assert-intercepting responseSameThread="false" responseExpression="#[assertPayload()]"/>
            <set-variable variableName="beforeThread" value="#[Thread.currentThread()]"/>
            <test:non-blocking-processor/>
            <test:assert count="1" expression="#[Thread.currentThread()!=beforeThread  and assertPayload()]"/>
        </catch-exception-strategy>
    </flow>

    <http:request-config name="HTTP_Request_Configuration" host="www.google.com" port="443" protocol="HTTPS"/>

    <flow name="asyncThrowsErrorInsideErrorHandler" processingStrategy="non-blocking">
        <test:component throwException="true"/>
        <catch-exception-strategy>
            <async>
                <test:assert count="1"/>
                <http:request config-ref="HTTP_Request_Configuration" path="/some/path/that/will/generate/error" method="POST">
                    <http:request-builder>
                        <http:header headerName="Content-Type" value="application/json"/>
                    </http:request-builder>
                </http:request>
            </async>
        </catch-exception-strategy>
    </flow>

</mule>
