extensions/jms/src/test/resources/source/jms-default-queue-subscribe.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
      http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd">

    <flow name="subscriber">
        <jms:listener config-ref="config" destination="#[destination]"/>
        <component class="org.mule.extensions.jms.test.JmsMessageStorage"/>
    </flow>

</mule>
