extensions/email/src/test/resources/sender/smtp-flows.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:email="http://www.mulesoft.org/schema/mule/email"
      xmlns:spring="http://www.springframework.org/schema/beans" xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
               http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd">


    <flow name="sendEmail">
        <email:send config-ref="config" subject="Email Subject" content="emailContent">
            <email:to-addresses>
                <email:to-address value="juan.desimoni@mulesoft.com"/>
            </email:to-addresses>
        </email:send>
    </flow>

    <flow name="sendEmailHeaders">
        <email:send config-ref="config-custom-headers" subject="Email Subject" content="emailContent">
            <email:to-addresses>
                <email:to-address value="juan.desimoni@mulesoft.com"/>
            </email:to-addresses>
            <email:headers>
                <email:header key="CustomOperationHeader" value="Dummy"/>
            </email:headers>
        </email:send>
    </flow>

    <!--TODO(gfernandes) MULE-10117 remove this when support for accessing resources is added to runner -->
    <spring:bean id="jsonAttachmentResource" class="org.springframework.core.io.UrlResource">
        <spring:constructor-arg value="classpath:attachment.json" type="java.net.URL" />
    </spring:bean>

    <flow name="replyEmail">
        <email:reply config-ref="config" content="emailContent"/>
    </flow>

    <flow name="forwardEmail">
        <email:forward config-ref="config" subject="Email Subject">
            <email:to-addresses>
                <email:to-address value="pablo.musumeci@mulesoft.com"/>
            </email:to-addresses>
        </email:forward>
    </flow>

    <flow name="forwardEmailWithContent">
        <email:forward config-ref="config" subject="Email Subject">
            <email:content>
                <email:body>More Content To Forward</email:body>
            </email:content>
            <email:to-addresses>
                <email:to-address value="pablo.musumeci@mulesoft.com"/>
            </email:to-addresses>
        </email:forward>
    </flow>

    <flow name="sendEncodedMessage">
        <email:send config-ref="config" subject="Email Subject">
            <email:content charset="#[flowVars.encoding]">
                <email:body>#[payload]</email:body>
            </email:content>
            <email:to-addresses>
                <email:to-address value="pablo.musumeci@mulesoft.com"/>
            </email:to-addresses>
        </email:send>
    </flow>

    <email:email-content name="emailContent" contentType="text/plain">
        <email:body>Email Content</email:body>
    </email:email-content>

</mule>
