transports/sftp/src/test/resources/mule-sftp-filter-config-flow.xml
<?xml version="1.0" encoding="utf-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:spring="http://www.springframework.org/schema/beans"
    xmlns:sftp="http://www.mulesoft.org/schema/mule/sftp" xmlns:file="http://www.mulesoft.org/schema/mule/file"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/sftp http://www.mulesoft.org/schema/mule/sftp/current/mule-sftp.xsd
        http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">

    <spring:beans>
        <spring:import resource="sftp-properties.xml" />
    </spring:beans>

    <sftp:connector name="sftp" autoDelete="true"
        pollingFrequency="500 " />

    <spring:bean name="endpointMessageNotificationLogger"
        class="org.mule.transport.sftp.notification.EndpointMessageNotificationTestListener" />
    <notifications>
        <notification event="ENDPOINT-MESSAGE" />
        <notification-listener ref="endpointMessageNotificationLogger" />
    </notifications>


    <flow name="testing">

        <sftp:inbound-endpoint name="inboundEndpoint"
            autoDelete="false" connector-ref="sftp"
            address="sftp://${USER1_NAME}:${USER1_PASSWORD}@${SFTP_HOST}:${SFTP_PORT}/~/data">
            <file:filename-wildcard-filter
                pattern="*.xml" />
        </sftp:inbound-endpoint>

        <sftp:outbound-endpoint connector-ref="sftp"
            name="outboundEndpoint"
            address="sftp://${USER1_NAME}:${USER1_PASSWORD}@${SFTP_HOST}:${SFTP_PORT}/~/data2"
            outputPattern="#[header:inbound:originalFilename]" />
    </flow>

</mule>
