transports/sftp/src/test/resources/mule-sftp-temp-dir-config-flow.xml
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:spring="http://www.springframework.org/schema/beans"
    xmlns:sftp="http://www.mulesoft.org/schema/mule/sftp"
    xsi:schemaLocation=" 
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/sftp http://www.mulesoft.org/schema/mule/sftp/current/mule-sftp.xsd">

    <spring:beans>
        <spring:import resource="sftp-properties.xml" />
    </spring:beans>

    <sftp:connector name="sftpCustomConnector"
        pollingFrequency="500" autoDelete="true" outputPattern="#[header:inbound:originalFilename]"
        identityFile="${USER1_IDENTITYFILE}" passphrase="${USER1_IDENTITYFILE_PASSPHRASE}" />

    <sftp:connector name="sftpCustomConnectorTempDirOutbound"
        outputPattern="#[header:inbound:originalFilename]" identityFile="${USER1_IDENTITYFILE}"
        passphrase="${USER1_IDENTITYFILE_PASSPHRASE}" tempDirOutbound="uploading" />

    <sftp:connector name="sftpCustomConnectorTempDirInbound"
        outputPattern="#[header:inbound:originalFilename]" identityFile="${USER1_IDENTITYFILE}"
        passphrase="${USER1_IDENTITYFILE_PASSPHRASE}" tempDirInbound="uploading" />

    <spring:bean name="endpointMessageNotificationLogger"
        class="org.mule.transport.sftp.notification.EndpointMessageNotificationTestListener" />
    <notifications>
        <notification event="ENDPOINT-MESSAGE" />
        <notification-listener ref="endpointMessageNotificationLogger" />
    </notifications>


    <flow name="testComponentOutbound">

        <sftp:inbound-endpoint
            address="sftp://${USER1_NAME}@${SFTP_HOST}:${SFTP_PORT}/~/tempdir-test-inbound"
            connector-ref="sftpCustomConnector" name="inboundEndpoint" />



        <sftp:outbound-endpoint
            address="sftp://${USER1_NAME}@${SFTP_HOST}:${SFTP_PORT}/~/tempdir-test-outbound"
            connector-ref="sftpCustomConnectorTempDirOutbound" name="outboundEndpoint">
        </sftp:outbound-endpoint>

    </flow>



    <flow name="testComponentInbound">

        <sftp:inbound-endpoint
            address="sftp://${USER1_NAME}@${SFTP_HOST}:${SFTP_PORT}/~/tempdir2-test-inbound"
            connector-ref="sftpCustomConnectorTempDirInbound" name="inboundEndpoint2" />



        <sftp:outbound-endpoint
            address="sftp://${USER1_NAME}@${SFTP_HOST}:${SFTP_PORT}/~/tempdir2-test-outbound"
            connector-ref="sftpCustomConnector" name="outboundEndpoint2">
        </sftp:outbound-endpoint>

    </flow>

</mule>
