transports/sftp/src/test/resources/mule-sftp-notification-test-config-flow.xml
<?xml version="1.0" encoding="utf-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:spring="http://www.springframework.org/schema/beans"
    xmlns:sftp="http://www.mulesoft.org/schema/mule/sftp" xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/sftp http://www.mulesoft.org/schema/mule/sftp/current/mule-sftp.xsd
        http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">

    <spring:beans>
        <spring:import resource="sftp-properties.xml" />
    </spring:beans>

    <sftp:connector name="sftp" pollingFrequency="2000" />

    <spring:bean name="endpointMessageNotificationLogger"
        class="org.mule.transport.sftp.notification.EndpointMessageNotificationTestListener" />
        
    <spring:bean name="sftpTransportNotificationLogger"
        class="org.mule.transport.sftp.notification.SftpTransportNotificationTestListener" />
        
    <notifications>
        <notification event="ENDPOINT-MESSAGE" />
        <notification event="CUSTOM" />
        <notification-listener ref="endpointMessageNotificationLogger" />
        <notification-listener ref="sftpTransportNotificationLogger" />
    </notifications>


    <flow name="sending">

        <vm:inbound-endpoint path="test.upload" />


        <sftp:outbound-endpoint
            address="sftp://${USER1_NAME}:${USER1_PASSWORD}@${SFTP_HOST}:${SFTP_PORT}/~/data"
            outputPattern="#[function:dateStamp].dat" tempDir="tmp_sending" />

    </flow>



    <flow name="receiving">

        <!-- synchronous="true" - otherwise the inbound endpoint will trigger 
            several times -->
        <sftp:inbound-endpoint name="inboundEndpoint"
            address="sftp://${USER1_NAME}:${USER1_PASSWORD}@${SFTP_HOST}:${SFTP_PORT}/~/data" />

        <component>
            <singleton-object
                class="org.mule.tck.functional.FunctionalTestComponent" />
        </component>
    </flow>

</mule>
