extensions/ftp/src/test/resources/ftp-read-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:spring="http://www.springframework.org/schema/beans"
      xmlns:ftp="http://www.mulesoft.org/schema/mule/ftp"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
        http://www.mulesoft.org/schema/mule/ftp http://www.mulesoft.org/schema/mule/ftp/current/mule-ftp.xsd">

    <spring:beans>
        <spring:import resource="ftp-connection.xml"/>
    </spring:beans>

    <flow name="read">
        <ftp:read path="#[mel:path]"/>
    </flow>

    <flow name="readWithLock" processingStrategy="synchronous">
        <ftp:read path="files/hello.json" lock="true"/>
    </flow>

    <flow name="readWithForcedMimeType">
        <ftp:read path="#[mel:path]" outputMimeType="test/test"/>
    </flow>

</mule>
