tests/integration/src/test/resources/org/mule/test/integration/exceptions/choice-exception-strategy-multiple-rollback-global.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
       ">

    <configuration defaultExceptionStrategy-ref="defaultEs"/>

    <rollback-exception-strategy name="globalEs" when="#[flowVars['nonsense'].equals('hi')]" maxRedeliveryAttempts="4"/>
    <rollback-exception-strategy name="defaultEs" maxRedeliveryAttempts="4"/>

    <flow name="test">
        <logger/>
        <choice-exception-strategy>
            <exception-strategy ref="globalEs" />
        </choice-exception-strategy>
    </flow>

</mule>
