tests/integration/src/test/resources/org/mule/test/integration/exceptions/choice-exception-strategy-multiple-rollback.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
       ">

    <flow name="test">
        <logger/>
        <choice-exception-strategy>
            <rollback-exception-strategy when="#[flowVars['nonsense'].equals('hi')]" maxRedeliveryAttempts="4"/>
            <rollback-exception-strategy maxRedeliveryAttempts="5"/>
        </choice-exception-strategy>
    </flow>

</mule>
