tests/integration/src/test/resources/org/mule/test/integration/exceptions/choice-exception-strategy.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:test="http://www.mulesoft.org/schema/mule/test"
      xmlns:script="http://www.mulesoft.org/schema/mule/scripting"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
       http://www.mulesoft.org/schema/mule/test http://www.mulesoft.org/schema/mule/test/current/mule-test.xsd
       http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
       http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd">

    <catch-exception-strategy name="global-catch" when="#[exception.causedBy(java.lang.ArithmeticException)]">
        <append-string-transformer message=" global catch es"/>
    </catch-exception-strategy>

    <flow name="matchesCorrectExceptionStrategyUsingExceptionType">
        <test:component/>
        <choice-exception-strategy>
            <catch-exception-strategy when="#[exception.causedBy(java.lang.IllegalArgumentException)]">
                <append-string-transformer message=" catch-1"/>
            </catch-exception-strategy>
            <catch-exception-strategy when="#[exception.causedBy(java.lang.IllegalStateException)]">
                <append-string-transformer message=" catch-2"/>
            </catch-exception-strategy>
            <catch-exception-strategy when="#[exception.causedExactlyBy(org.mule.test.integration.exceptions.ChoiceExceptionStrategyTestCase$BaseException)]">
                <append-string-transformer message=" catch-3"/>
            </catch-exception-strategy>
            <catch-exception-strategy when="#[exception.causedBy(org.mule.test.integration.exceptions.ChoiceExceptionStrategyTestCase$SubtypeException)]">
                <append-string-transformer message=" catch-4"/>
            </catch-exception-strategy>
            <catch-exception-strategy when="#[exception.causeMatches('(.*)mule.test.integration.(.*).ChoiceExceptionStrategyTestCase(.*)MyException')]">
                <append-string-transformer message=" catch-5"/>
            </catch-exception-strategy>
            <catch-exception-strategy when="#[payload == 'groovy']">
                <append-string-transformer message=" catch-6"/>
            </catch-exception-strategy>
            <catch-exception-strategy when="#[exception.causeMatches('org.mule.test.integration.exceptions.ChoiceExceptionStrategyTestCase$StartsWith*')]">
                <append-string-transformer message=" catch-7"/>
            </catch-exception-strategy>
            <catch-exception-strategy when="#[exception.causeMatches('*FinishesWithException')]">
                <append-string-transformer message=" catch-8"/>
            </catch-exception-strategy>
            <catch-exception-strategy when="#[exception.causeMatches('*FinishesWithSomethingElse')]">
		        <script:component>
		            <script:script engine="groovy">
		                return "$payload groovified"
		            </script:script>
		        </script:component>
            </catch-exception-strategy>
            <catch-exception-strategy when="#[exception.causeMatches('*') &amp;&amp; !exception.causedBy(java.lang.ArithmeticException) &amp;&amp; !exception.causedBy(org.mule.api.registry.ResolverException)]">
                <append-string-transformer message=" catch-9"/>
            </catch-exception-strategy>
            <exception-strategy ref="global-catch"/>
        </choice-exception-strategy>
    </flow>

</mule>
