tests/integration/src/test/resources/org/mule/test/integration/exceptions/default-exception-strategy-in-choice.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="
       http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

    <flow name="flowA">
        <logger/>
        <choice-exception-strategy name="choice">
            <catch-exception-strategy when="#[exception-type:java.lang.NullPointerException]"/>
            <defaul-exception-strategy/>
        </choice-exception-strategy>
    </flow>

</mule>
