tests/integration/src/test/resources/org/mule/test/integration/exceptions/error-handler.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:test="http://www.mulesoft.org/schema/mule/test"
      xmlns:script="http://www.mulesoft.org/schema/mule/scripting"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
       http://www.mulesoft.org/schema/mule/test http://www.mulesoft.org/schema/mule/test/current/mule-test.xsd
       http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd">

    <flow name="matchesHandlerUsingWhen">
        <test:component/>
        <error-handler>
            <on-error-continue when="#[mel:exception.causedBy(java.lang.IllegalArgumentException)]">
                <append-string-transformer message=" catch-1"/>
            </on-error-continue>
            <on-error-continue when="#[mel:exception.causedBy(java.lang.IllegalStateException)]">
                <append-string-transformer message=" catch-2"/>
            </on-error-continue>
            <on-error-continue when="#[mel:exception.causedExactlyBy(org.mule.test.integration.exceptions.ErrorHandlerTestCase$BaseException)]">
                <append-string-transformer message=" catch-3"/>
            </on-error-continue>
            <on-error-continue when="#[mel:exception.causedBy(org.mule.test.integration.exceptions.ErrorHandlerTestCase$SubtypeException)]">
                <append-string-transformer message=" catch-4"/>
            </on-error-continue>
            <on-error-continue when="#[mel:exception.causeMatches('(.*)mule.test.integration.(.*).ErrorHandlerTestCase(.*)MyException')]">
                <append-string-transformer message=" catch-5"/>
            </on-error-continue>
            <on-error-continue when="#[mel:payload == 'groovy']">
                <append-string-transformer message=" catch-6"/>
            </on-error-continue>
            <on-error-continue when="#[mel:exception.causeMatches('org.mule.test.integration.exceptions.ErrorHandlerTestCase$StartsWith*')]">
                <append-string-transformer message=" catch-7"/>
            </on-error-continue>
            <on-error-continue when="#[mel:exception.causeMatches('*FinishesWithException')]">
                <append-string-transformer message=" catch-8"/>
            </on-error-continue>
            <on-error-continue when="#[mel:exception.causeMatches('*FinishesWithSomethingElse')]">
		        <script:component>
		            <script:script engine="groovy">
		                return "$payload groovified"
		            </script:script>
		        </script:component>
            </on-error-continue>
            <on-error-continue when="#[mel:exception.causeMatches('*') &amp;&amp; !exception.causedBy(java.lang.ArithmeticException) &amp;&amp; !exception.causedBy(org.mule.runtime.core.api.registry.ResolverException)]">
                <append-string-transformer message=" catch-9"/>
            </on-error-continue>
        </error-handler>
    </flow>

    <flow name="matchesHandlerUsingType">
        <custom-processor class="org.mule.test.integration.exceptions.ErrorHandlerTestCase$ThrowExceptionProcessor"/>
        <error-handler>
            <on-error-continue type="TRANSFORMATION">
                <append-string-transformer message=" transformation"/>
            </on-error-continue>
            <on-error-continue type="REDELIVERY_EXHAUSTED">
                <append-string-transformer message=" redelivery"/>
            </on-error-continue>
            <on-error-continue type="EXPRESSION">
                <append-string-transformer message=" expression"/>
            </on-error-continue>
            <on-error-continue type="CONNECTIVITY">
                <append-string-transformer message=" connectivity"/>
            </on-error-continue>
            <on-error-continue type="ROUTING">
                <append-string-transformer message=" routing"/>
            </on-error-continue>
            <on-error-continue type="SECURITY">
                <append-string-transformer message=" security"/>
            </on-error-continue>
            <on-error-continue type="ANY">
                <append-string-transformer message=" any"/>
            </on-error-continue>
        </error-handler>
    </flow>

    <flow name="propagatesCriticalErrors">
        <append-string-transformer message=" critical"/>
        <custom-processor class="org.mule.test.integration.exceptions.ErrorHandlerTestCase$ThrowErrorProcessor"/>
        <error-handler>
            <on-error-continue type="ANY">
                <append-string-transformer message=" nope"/>
            </on-error-continue>
        </error-handler>
    </flow>

</mule>
