tests/integration/src/test/resources/org/mule/test/integration/exceptions/exception-strategy-message-properties-flow.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:test="http://www.mulesoft.org/schema/mule/test"
    xsi:schemaLocation="
           http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
           http://www.mulesoft.org/schema/mule/test http://www.mulesoft.org/schema/mule/test/current/mule-test.xsd">

    <flow name="inbound">
        <test:component throwException="true"/>
        <catch-exception-strategy>
            <message-properties-transformer scope="outbound">
                <add-message-property key="prop" value="#[message.inboundProperties.foo]" />
            </message-properties-transformer>
            <test:queue name="out"/>
        </catch-exception-strategy>
    </flow>

</mule>
