tests/integration/src/test/resources/org/mule/test/integration/exceptions/when-without-choice-in-rollback-es.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="
       http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

        <flow name="invalidFlow">
            <logger/>
            <error-handler>
                <on-error-propagate when="#[mel:exception.causedBy(java.lang.Exception)]"/>
            </error-handler>
        </flow>

</mule>
