modules/oauth/src/test/resources/authorization-code/authorization-code-refresh-token-config-with-resource-owner.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:oauth2="http://www.mulesoft.org/schema/mule/oauth2"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xsi:schemaLocation="
       http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
       http://www.mulesoft.org/schema/mule/oauth2 http://www.mulesoft.org/schema/mule/oauth2/current/mule-oauth2.xsd
       http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">

    <oauth2:authorization-code-config name="multitenantOauthConfig"
                                clientId="${client.id}"
                                clientSecret="${client.secret}"
                                redirectionUrl="${redirect.url}"
                                resourceOwnerId="#[message.inboundProperties['http.properties'].queryParams['userId']]">
        <oauth2:authorization-request
                localAuthorizationUrl="${local.authorization.url}"
                authorizationUrl="${authorization.url}">
        </oauth2:authorization-request>
        <oauth2:token-request
                refreshTokenWhen="#[message.inboundProperties['http.status'] == 500]"
                tokenUrl="${token.url}"/>
    </oauth2:authorization-code-config>

    <http:request-config name="multitenantRequestConfig">
        <oauth2:authorization-code-authentication config-ref="multitenantOauthConfig" resourceOwnerId="#[flowVars['userId']]"/>
    </http:request-config>

    <flow name="testMultitenantFlow">
        <http:request host="localhost" port="${oauth.server.port}" path="/resource" method="POST"
                      config-ref="multitenantRequestConfig"/>
    </flow>

</mule>
