transports/email/src/test/resources/smtp-functional-test-all-attachments-flow.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:spring="http://www.springframework.org/schema/beans"
       xmlns:smtp="http://www.mulesoft.org/schema/mule/smtp"
       xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
       xmlns:email="http://www.mulesoft.org/schema/mule/email"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
       http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
       http://www.mulesoft.org/schema/mule/smtp http://www.mulesoft.org/schema/mule/smtp/current/mule-smtp.xsd
       http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
       http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd">

    <smtp:connector name="smtpConnector"/>

    <flow name="relay">
        <vm:inbound-endpoint path="send" exchange-pattern="one-way">
            <message-properties-transformer scope="outbound">
                <add-message-property key="contentType" value="#[header:INBOUND:contentType?]"/>
            </message-properties-transformer>
        </vm:inbound-endpoint>
        <smtp:outbound-endpoint host="localhost" port="${port1}" to="bob@example.com">
            <custom-transformer class="org.mule.transport.email.transformers.AddOutboundAttachments"/>
            <email:object-to-mime-transformer/>
        </smtp:outbound-endpoint>
    </flow>
    
</mule>
