tests/integration/src/test/resources/org/mule/test/construct/flow-outbound-in-middle-of-flow.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:spring="http://www.springframework.org/schema/beans" xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
    xmlns:script="http://www.mulesoft.org/schema/mule/scripting"
    xmlns:file="http://www.mulesoft.org/schema/mule/file"
    xsi:schemaLocation="
               http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
               http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/3.2/mule.xsd
               http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/3.2/mule-vm.xsd
               http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/3.2/mule-file.xsd
               http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/3.2/mule-scripting.xsd">

    <flow name="flowTest">
        <vm:inbound-endpoint path="test.in" />

        <append-string-transformer message="hello"></append-string-transformer>

        <vm:outbound-endpoint path="test.out.1" />

        <expression-transformer evaluator="groovy"
            expression="payload.replaceAll('hello', 'bye')" />

        <vm:outbound-endpoint path="test.out.2" />
        
        <expression-transformer evaluator="groovy"
            expression="payload.replaceAll('bye', '').reverse()" />
            
        <vm:outbound-endpoint path="test.out.3" />

    </flow>

</mule>