tests/integration/src/test/resources/org/mule/test/construct/flow-nesting-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"                      
      xmlns:test="http://www.mulesoft.org/schema/mule/test"
      xmlns:script="http://www.mulesoft.org/schema/mule/scripting"
      xsi:schemaLocation="               
               http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd                                                           
               http://www.mulesoft.org/schema/mule/test http://www.mulesoft.org/schema/mule/test/current/mule-test.xsd
               http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd">

    <flow name="NestedFilters">
        <and-filter>
            <message-property-filter scope="inbound" pattern="Currency=MyCurrency"/>
            <or-filter>
                <not-filter>
                    <message-property-filter scope="inbound" pattern="AcquirerCountry=MyCountry"/>
                </not-filter>
                <and-filter>
                    <expression-filter expression="#[message.inboundProperties['Amount'] &lt; 5000]"/>
                    <not-filter>
                        <or-filter>
                            <payload-type-filter expectedType="org.mule.tck.testmodels.fruit.Apple"/>
                            <payload-type-filter expectedType="org.mule.transport.NullPayload"/>
                        </or-filter>
                    </not-filter>
                </and-filter>
            </or-filter>
        </and-filter>
        <test:queue name="outFilter"/>
    </flow>

    <flow name="NestedChoice">
        <choice>
            <when expression="payload is org.mule.tck.testmodels.fruit.Apple">
                <script:transformer>
                    <script:script engine="groovy">
                        return ""
                    </script:script>
                </script:transformer>
                <append-string-transformer message="A"/>
                <choice>
                    <when expression="message.inboundProperties.AcquirerCountry=='MyCountry'">
                        <append-string-transformer message="B"/>
                        <choice>
                            <when expression="#[message.inboundProperties['Amount'] &lt; 5000]">
                                <append-string-transformer message="C"/>
                                <test:queue name="outChoice"/>
                            </when>
                            <otherwise>
                                <test:queue name="outChoice"/>
                            </otherwise>
                        </choice>
                    </when>
                </choice>
            </when>
            <otherwise>
                <test:queue name="outChoice"/>
            </otherwise>
        </choice>
    </flow>              
</mule>
