modules/cxf/src/test/resources/cxf-proxy-service-tests-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf" xmlns:spring="http://www.springframework.org/schema/beans"
      xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
              http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
              http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/current/mule-cxf.xsd
              http://www.mulesoft.org/schema/mule/xml  http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd">

    <configuration defaultProcessingStrategy="non-blocking"/>

    <http:listener-config name="http-listener-config" host="localhost" port="${listenerPort}" protocol="HTTP"/>

    <flow name="testProxy">
        <http:listener config-ref="http-listener-config" path="/proxy" parseRequest="false"/>
        <logger message="#['Payload BEFORE proxy-service: ' + message.payloadAs(java.lang.String)]"
                level="INFO"></logger>
        <response>
            <logger message="#['Payload in RESPONSE proxy-service: ' + message.payloadAs(java.lang.String)]"
                    level="INFO"/>
        </response>
        <cxf:proxy-service port="HelloServicePort"
                           namespace="http://test.Pablo.name/"
                           service="HelloServiceService"
                           payload="envelope" enableMuleSoapHeaders="false"
                           wsdlLocation="classpath:${wsdl.uri}">
            <cxf:inInterceptors>
                <spring:bean class="org.apache.cxf.binding.soap.saaj.SAAJInInterceptor"/>
            </cxf:inInterceptors>
        </cxf:proxy-service>
        <logger message="#['Payload AFTER proxy-service: ' + message.payloadAs(java.lang.String)]"
                level="INFO"></logger>
    </flow>

    <flow name="testTestProxy">
        <http:listener config-ref="http-listener-config" path="/perro" parseRequest="false"/>
        <response>
            <logger message="#['Payload in RESPONSE proxy-service: ' + message.payloadAs(java.lang.String)]"
                    level="INFO"/>
        </response>
        <cxf:proxy-service port="HelloServicePort"
                           namespace="http://test.Pablo.name/"
                           service="HelloServiceService"
                           payload="envelope" enableMuleSoapHeaders="false"
                           wsdlLocation="classpath:${wsdl.uri}">
            <cxf:inInterceptors>
                <spring:bean class="org.apache.cxf.binding.soap.saaj.SAAJInInterceptor"/>
            </cxf:inInterceptors>
        </cxf:proxy-service>
        <mulexml:dom-to-xml-transformer/>
        <set-payload value="#[xpath3('/soapenv:Envelope/soapenv:Body/*',payload,'NODE')]"/>
        <mulexml:dom-to-xml-transformer/>
        <logger message="#['Payload AFTER proxy-service: ' + message.payloadAs(java.lang.String)]"
                level="INFO"></logger>
    </flow>
</mule>
