modules/cxf/src/test/resources/header-conf-httpn.xml
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:spring="http://www.springframework.org/schema/beans"
      xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf"
      xmlns:httpn="http://www.mulesoft.org/schema/mule/httpn"
      xmlns:test="http://www.mulesoft.org/schema/mule/test"
      xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
       http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
       http://www.mulesoft.org/schema/mule/httpn http://www.mulesoft.org/schema/mule/httpn/current/mule-httpn.xsd
       http://www.mulesoft.org/schema/mule/test http://www.mulesoft.org/schema/mule/test/current/mule-test.xsd
       http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/current/mule-cxf.xsd">

    <httpn:listener-config name="listenerConfig">
        <httpn:listener-connection host="localhost" port="${port1}"/>
    </httpn:listener-config>

    <httpn:request-config name="requestConfig">
        <httpn:request-connection host="localhost" port="${port1}"/>
    </httpn:request-config>

    <flow name="clientFlow">
        <cxf:jaxws-client
                clientClass="org.apache.hello_world_soap_http.SOAPService"
                port="SoapPort"
                wsdlLocation="classpath:/wsdl/hello_world.wsdl">
            <cxf:inInterceptors>
                <spring:bean id="foo1" class="org.apache.cxf.interceptor.LoggingInInterceptor"/>
            </cxf:inInterceptors>
            <cxf:outInterceptors>
                <spring:bean id="foo2" class="org.apache.cxf.interceptor.LoggingOutInterceptor"/>
            </cxf:outInterceptors>
        </cxf:jaxws-client>
        <httpn:request path="services/greeter" method="POST" config-ref="requestConfig">
            <httpn:request-builder>
                <httpn:headers>
                    #[['FOO' : message.outboundProperties['FOO'], 'operation' : message.outboundProperties['operation']]]
                </httpn:headers>
            </httpn:request-builder>
        </httpn:request>
    </flow>

    <flow name="greeterService">
        <httpn:listener path="services/greeter" config-ref="listenerConfig"/>
        <cxf:jaxws-service serviceClass="org.apache.hello_world_soap_http.GreeterImpl"/>
        <component>
            <singleton-object
                    class="org.apache.hello_world_soap_http.GreeterImpl" />
        </component>
        <flow-ref name="testService"/>
    </flow>

    <flow name="testService">
        <test:component appendString=" Received"/>
    </flow>
</mule>
