extensions/db/src/test/resources/integration/config/dynamic-connection-pooling-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:db="http://www.mulesoft.org/schema/mule/db"
      xmlns:test="http://www.mulesoft.org/schema/mule/test"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
            http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
            http://www.mulesoft.org/schema/mule/test http://www.mulesoft.org/schema/mule/test/current/mule-test.xsd">

    <flow name="dataSourcePooling">
        <set-variable variableName="dataSourceUrl" value="jdbc:derby:muleEmbeddedDB;create=true"/>

        <block transactionalAction="ALWAYS_BEGIN">
            <db:delete config-ref="pooledJdbcConfig">
                <db:parameterized-query>delete from PLANET where id = #[payload.id]</db:parameterized-query>
            </db:delete>

            <component class="org.mule.runtime.module.db.integration.config.AbstractDatasourcePoolingTestCase$JoinRequests"/>
        </block>

        <test:queue name="testOut"/>

        <error-handler>
            <on-error-continue>
                <test:queue name="connectionError"/>
            </on-error-continue>
        </error-handler>
    </flow>
</mule>
