compatibility/tests/integration-transports/src/test/resources/org/mule/test/integration/providers/file/file-runtime-exception-strategy-flow.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" 
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:file="http://www.mulesoft.org/schema/mule/transport/file"
      xmlns:transports="http://www.mulesoft.org/schema/mule/transports"
      xsi:schemaLocation="
       http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
       http://www.mulesoft.org/schema/mule/transport/file http://www.mulesoft.org/schema/mule/transport/file/current/mule-transport-file.xsd
       http://www.mulesoft.org/schema/mule/transports http://www.mulesoft.org/schema/mule/transports/current/mule-transports.xsd">

    <file:connector name="fileConnector" outputAppend="true" outputPattern="test-#[mel:org.mule.compatibility.transport.file.ExpressionFilenameParser.count()].out"/>

    <flow name="FolderToVM">
        <transports:inbound-endpoint address="file://${workingDirectory}/in" exchange-pattern="one-way">
            <custom-transformer class="org.mule.test.transformers.FailingRuntimeTransformer"/>
        </transports:inbound-endpoint>
        <!--<endpoint address="stdio://System.out" exchange-pattern="one-way"/> -->
        <transports:outbound-endpoint address="file://${workingDirectory}/out" exchange-pattern="one-way"/>
        <default-exception-strategy>
            <transports:outbound-endpoint address="file://${workingDirectory}/errors" exchange-pattern="one-way"/>
        </default-exception-strategy>
    </flow>

</mule>
