compatibility/transports/jms/src/test/resources/jms-redelivery-flow.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:jms="http://www.mulesoft.org/schema/mule/transport/jms"
      xmlns:test="http://www.mulesoft.org/schema/mule/test"
      xsi:schemaLocation="
       http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
       http://www.mulesoft.org/schema/mule/test http://www.mulesoft.org/schema/mule/test/current/mule-test.xsd
       http://www.mulesoft.org/schema/mule/transport/jms http://www.mulesoft.org/schema/mule/transport/jms/current/mule-transport-jms.xsd">

    <jms:activemq-connector name="jmsConnectorLimitedRedelivery" maxRedelivery="${maxRedelivery}" />
    <jms:activemq-connector name="jmsConnectorNoRedelivery" maxRedelivery="-1" />

    <flow name="Bouncer">
        <jms:inbound-endpoint queue="in" connector-ref="jmsConnectorLimitedRedelivery">
            <jms:transaction action="ALWAYS_BEGIN" />
        </jms:inbound-endpoint>
        <test:component />
        <jms:outbound-endpoint queue="out" connector-ref="jmsConnectorLimitedRedelivery">
            <jms:transaction action="ALWAYS_JOIN" />
        </jms:outbound-endpoint>
        <default-exception-strategy>
            <commit-transaction exception-pattern="org.mule.compatibility.transport.jms.redelivery.MessageRedeliveredException"/>
            <choice>
                <when expression="#[mel:payload.getException() instanceof org.mule.compatibility.transport.jms.redelivery.MessageRedeliveredException]">
                    <jms:outbound-endpoint queue="dead.letter" connector-ref="jmsConnectorLimitedRedelivery">
                        <jms:transaction action="ALWAYS_JOIN" />
                    </jms:outbound-endpoint>
                </when>
                <otherwise>
                    <logger message="#[mel:payload.exception.class]" level="WARN"/>
                </otherwise>
            </choice>
        </default-exception-strategy>
    </flow>

    <flow name="Bouncer2">
        <jms:inbound-endpoint queue="in2" connector-ref="jmsConnectorNoRedelivery">
            <redelivery-policy maxRedeliveryCount="${maxRedeliveryAttempts}"/>
            <jms:transaction action="ALWAYS_BEGIN" />
        </jms:inbound-endpoint>
        <test:component />
        <jms:outbound-endpoint queue="out" connector-ref="jmsConnectorNoRedelivery">
            <jms:transaction action="ALWAYS_JOIN" />
        </jms:outbound-endpoint>
        <error-handler>
            <on-error-continue type="REDELIVERY_EXHAUSTED">
                <jms:outbound-endpoint queue="dead.letter" connector-ref="jmsConnectorNoRedelivery">
                    <jms:transaction action="ALWAYS_JOIN" />
                </jms:outbound-endpoint>
            </on-error-continue>
        </error-handler>
    </flow>

</mule>
