extensions/db/src/test/resources/integration/delete/pending/delete-bulk-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:db="http://www.mulesoft.org/schema/mule/db"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
            http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">

    <flow name="deleteBulk">
        <db:delete config-ref="dbConfig" bulkMode="true">
            <db:parameterized-query>DELETE FROM PLANET WHERE name = #[payload]</db:parameterized-query>
        </db:delete>
    </flow>
</mule>
