compatibility/transports/http/src/test/resources/file-attachment-name-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:http="http://www.mulesoft.org/schema/mule/transport/http"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:transports="http://www.mulesoft.org/schema/mule/transports"
      xsi:schemaLocation="
            http://www.mulesoft.org/schema/mule/transport/http http://www.mulesoft.org/schema/mule/transport/http/current/mule-transport-http.xsd
            http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
            http://www.mulesoft.org/schema/mule/transports http://www.mulesoft.org/schema/mule/transports/current/mule-transports.xsd">

    <configuration>
        <transports:config useTransportForUris="true"/>
    </configuration>

    <flow name="main">
        <http:inbound-endpoint address="http://localhost:${httpPort}/testInput" exchange-pattern="request-response" method="POST"/>

        <transports:copy-attachments attachmentName="*"/>

        <http:outbound-endpoint address="http://localhost:${httpPort}/backend" exchange-pattern="request-response" method="POST"/>
    </flow>

    <flow name="backend">
        <http:inbound-endpoint address="http://localhost:${httpPort}/backend" exchange-pattern="request-response" method="POST"/>

        <set-variable variableName="attachment" value="#[mel:message.inboundAttachments.get('testAttachment')]"/>
        <set-variable variableName="attachmentName" value="#[mel:flowVars.attachment.getDataSource().getPart().getName()]"/>
        <set-variable variableName="attachmentFileName" value="#[mel:flowVars.attachment.getDataSource().getPart().getContentDispositionFilename()]"/>

        <set-payload value="#[mel:flowVars.attachmentName]:#[mel:flowVars.attachmentFileName]"/>
    </flow>
</mule>
