extensions/email/src/test/resources/retriever/imap-flows.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:email="http://www.mulesoft.org/schema/mule/email"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
               http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd">

    <flow name="retrieveAndDontRead">
        <email:list-imap config-ref="config-dont-read"/>
    </flow>

    <flow name="retrieveAndMarkRead">
        <email:list-imap config-ref="config"/>
        <foreach>
            <email:mark-as-read config-ref="config" emailId="#[payload.attributes.id]"/>
        </foreach>
    </flow>

    <flow name="retrieveAndThenExpungeDelete">
        <email:list-imap config-ref="config"/>
        <foreach>
            <email:mark-as-deleted config-ref="config" emailId="#[payload.attributes.id]"/>
        </foreach>
        <email:expunge-folder config-ref="config"/>
    </flow>

    <flow name="retrieveAndMarkDelete">
        <email:list-imap config-ref="config"/>
        <foreach>
            <email:mark-as-deleted config-ref="config" emailId="#[payload.attributes.id]"/>
        </foreach>
    </flow>

    <flow name="failMarkingEmail">
        <email:mark-as-deleted config-ref="config" emailId="0"/>
    </flow>

    <flow name="retrieveOnlyNotReadEmails">
        <email:list-imap config-ref="config">
            <email:imap-matcher seen="false"/>
        </email:list-imap>
    </flow>

    <flow name="retrieveOnlyRecentEmails">
        <email:list-imap config-ref="config">
            <email:imap-matcher recent="true"/>
        </email:list-imap>
    </flow>

    <flow name="retrieveAndRead">
        <email:list-imap config-ref="config"/>
    </flow>

    <flow name="retrieveMatchingSubjectAndFromAddress">
        <email:list-imap config-ref="config">
            <email:imap-matcher subjectRegex="Email Subject" fromRegex="@mulesoft"/>
        </email:list-imap>
    </flow>

    <flow name="retrieveWithAttachments">
        <email:list-imap config-ref="config"/>
    </flow>

    <flow name="storeSingleMessage">
        <email:store config-ref="config" localDirectory="${storePath}" emailId="1"/>
    </flow>

    <flow name="storeMessages">
        <email:list-imap config-ref="config"/>
        <foreach>
            <email:store config-ref="config" localDirectory="${storePath}" emailId="#[payload.attributes.id]"/>
        </foreach>
    </flow>

    <flow name="retrieveAndDelete">
        <email:list-imap config-ref="config" deleteAfterRetrieve="true"/>
    </flow>

    <flow name="retrieveAndDeleteSelected">
        <email:list-imap config-ref="config"/>
        <foreach>
            <choice>
                <when expression="#[payload.attributes.id > 5]">
                    <email:delete config-ref="config" emailId="#[payload.attributes.id]"/>
                </when>
                <otherwise>
                    <logger/>
                </otherwise>
            </choice>
        </foreach>
    </flow>

    <flow name="retrieveAndDeleteIncomingAndScheduled">
        <email:list-imap config-ref="config"/>
        <email:delete config-ref="config" emailId="6"/>
    </flow>

</mule>
