tests/dsl/src/test/resources/full-artifact-config-dsl-app.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:db="http://www.mulesoft.org/schema/mule/db"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
      xmlns:sockets="http://www.mulesoft.org/schema/mule/sockets"
      xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
      xmlns:tls="http://www.mulesoft.org/schema/mule/tls"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd http://www.mulesoft.org/schema/mule/sockets http://www.mulesoft.org/schema/mule/sockets/current/mule-sockets.xsd http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd">

    <db:config name="dbConfig">
        <db:derby-connection database="target/muleEmbeddedDB" create="true">
            <db:pooling-profile maxPoolSize="10"/>
            <db:connection-properties>
                <db:connection-property key="first" value="propertyOne"/>
                <db:connection-property key="second" value="propertyTwo"/>
            </db:connection-properties>
        </db:derby-connection>
    </db:config>

    <http:listener-config name="httpListener" basePath="/">
        <http:listener-connection disableValidation="true" host="localhost" port="49019" protocol="HTTPS">
            <tls:context>
                <tls:key-store path="ssltest-keystore.jks" keyPassword="changeit" password="changeit"/>
            </tls:context>
        </http:listener-connection>
    </http:listener-config>

    <http:request-config name="httpRequester">
        <http:request-connection host="localhost" port="49020">
            <http:authentication>
                <http:basic-authentication username="user" password="pass"/>
            </http:authentication>
            <http:client-socket-properties>
                <sockets:tcp-client-socket-properties connectionTimeout="1000" keepAlive="true"
                                                      receiveBufferSize="1024" sendBufferSize="1024"
                                                      clientTimeout="1000" linger="1000" />
            </http:client-socket-properties>
        </http:request-connection>
    </http:request-config>

    <flow name="testFlow" initialState="stopped">
        <http:listener config-ref="httpListener" path="testBuilder">
            <redelivery-policy maxRedeliveryCount="2" useSecureHash="true"/>
            <reconnect blocking="true" count="1" frequency="0"/>
            <http:response>
                <http:body>#[{'my': 'map'}]</http:body>
                <http:headers>
                    #[{{'content-type' : 'text/plain'}}]
                </http:headers>
            </http:response>
        </http:listener>

        <choice>
            <when expression="#[true]">
                <db:bulk-insert>
                    <db:sql>INSERT INTO PLANET(POSITION, NAME) VALUES (:position, :name)</db:sql>
                    <db:parameter-types>
                        <db:parameter-type key="name" type="VARCHAR" />
                        <db:parameter-type key="position" type="INTEGER" />
                    </db:parameter-types>
                </db:bulk-insert>
            </when>
            <otherwise>
                <foreach collection="#[myCollection]">
                    <logger message="#[payload]"/>
                </foreach>
            </otherwise>
        </choice>

        <db:bulk-insert>
            <db:sql>INSERT INTO PLANET(POSITION, NAME) VALUES (:position, :name)</db:sql>
            <db:parameter-types>
                <db:parameter-type key="name" type="VARCHAR" />
                <db:parameter-type key="position" type="INTEGER" />
            </db:parameter-types>
        </db:bulk-insert>

        <http:request config-ref="httpRequester" path="/nested" method="POST"/>

        <db:insert config-ref="dbConfig">
            <db:sql>INSERT INTO PLANET(POSITION, NAME, DESCRIPTION) VALUES (777, 'Pluto', :description)</db:sql>
            <db:parameter-types>
                <db:parameter-type key="description" type="CLOB"/>
            </db:parameter-types>
            <db:input-parameters>
                #[{{'description' : payload}}]
            </db:input-parameters>
        </db:insert>

        <sockets:send-and-receive target="myVar">
            <repeatable-in-memory-stream bufferSizeIncrement="8"
                                         bufferUnit="KB"
                                         initialBufferSize="51"
                                         maxInMemorySize="1000"/>
        </sockets:send-and-receive>

        <wsc:consume operation="GetCitiesByCountry">
            <wsc:message>
                <wsc:body>#[payload]</wsc:body>
                <wsc:headers>#[{"headers": {con#headerIn: "Header In Value",con#headerInOut: "Header In Out Value"}]</wsc:headers>
                <wsc:attachments>#[{}]</wsc:attachments>
            </wsc:message>
        </wsc:consume>

    </flow>

</mule>
