modules/db/src/test/resources/integration/select/select-parameterized-template-query-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:db="http://www.mulesoft.org/schema/mule/db"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
            http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">

    <db:template-query name="selectQuery">
        <db:parameterized-query>select * from Planet where name = :name</db:parameterized-query>
        <db:in-param name="name" defaultValue="#[payload]" type="VARCHAR"/>
    </db:template-query>

    <flow name="selectParameterizedQuery">
        <inbound-endpoint address="vm://selectParameterizedQuery" exchange-pattern="request-response"/>

        <db:select config-ref="dbConfig">
            <db:template-query-ref name="selectQuery"/>
        </db:select>
    </flow>
</mule>
