tests/wsc/src/test/resources/config/wss/timestamp.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule   xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
        xmlns:http="http://www.mulesoft.org/schema/mule/http"
        xmlns="http://www.mulesoft.org/schema/mule/core"
        xmlns:spring="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
    http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
    http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
    http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd">

    <wsc:config name="timestamp">
        <wsc:connection wsdlLocation="http://localhost:${servicePort}/timestamp?wsdl" service="TestService" port="TestPort">
            <reconnect blocking="false" />
            <wsc:security-strategies>
                <wsc:wss-timestamp-security-strategy timeToLive="30"/>
            </wsc:security-strategies>
        </wsc:connection>
    </wsc:config>

    <flow name="timestampFlow">
        <wsc:consume config-ref="timestamp" operation="echo">
            <wsc:message>
                <wsc:body>#[payload]</wsc:body>
            </wsc:message>
        </wsc:consume>
        <object-to-string-transformer/>
    </flow>
</mule>

