tests/integration/src/test/resources/org/mule/test/integration/messaging/meps/pattern_In-Only_Optional-Out-flow.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:mule="http://www.mulesoft.org/schema/mule/core"
      xmlns:test="http://www.mulesoft.org/schema/mule/test"
      xmlns:script="http://www.mulesoft.org/schema/mule/scripting"
      xsi:schemaLocation="
       http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
       http://www.mulesoft.org/schema/mule/test http://www.mulesoft.org/schema/mule/test/current/mule-test.xsd
       http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

    <!--// START SNIPPET: full-config -->
    <description>
        Receives a message from another party but will not return a result. The service component must always return a
        result.
    </description>

    <flow name="In-Only_Optional-Out--Service">
        <script:component>
            <script:script engine="groovy">
                if (message.getProperty("foo", org.mule.runtime.core.PropertyScope.INBOUND))
                    return "foo header received"
                else
                    return null
            </script:script>
        </script:component>
        
        <logger level="ERROR" message="#[payload]"/>
        
        <async>
            <mule:wildcard-filter pattern="* header received"/>
            <test:queue name="received"/>
        </async>
        <async>
            <mule:wildcard-filter pattern="* header not received"/>
            <test:queue name="notReceived"/>
        </async>
    </flow>
    
    <!--// END SNIPPET: full-config -->
</mule>
