modules/extensions-spring-support/src/test/resources/heisenberg-operation-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:heisenberg="http://www.mulesoft.org/schema/mule/heisenberg"
      xmlns:context="http://www.springframework.org/schema/context"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
               http://www.mulesoft.org/schema/mule/heisenberg http://www.mulesoft.org/schema/mule/heisenberg/current/mule-heisenberg.xsd
               http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-current.xsd">

    <context:property-placeholder location="heisenberg.properties"/>

    <heisenberg:door victim="Top Level Skyler" address="308 Negra Arroyo Lane" name="door"/>

    <heisenberg:door victim="#[victim]" address="308 Negra Arroyo Lane" name="dynamicDoor"/>

    <heisenberg:config name="heisenberg"
                       myName="heisenberg"
                       age="50"
                       cancer="true"
                       dateOfBirth="1959-09-07T00:00:00"
                       dateOfDeath="2011-09-07T00:00:00-05:00"
                       money="1000000"
                       recipe="recipes"
                       finalHealth="CANCER"
                       candidateDoors="candidateDoors">
        <heisenberg:enemies>
            <heisenberg:enemy value="Gustavo Fring"/>
            <heisenberg:enemy value="Hank"/>
        </heisenberg:enemies>
        <heisenberg:ricin-packs>
            <heisenberg:ricin-pack>
                <heisenberg:destination victim="Lidia" address="Stevia coffe shop"/>
            </heisenberg:ricin-pack>
        </heisenberg:ricin-packs>
        <heisenberg:next-door address="pollos hermanos" victim="Gustavo Fring">
            <heisenberg:previous victim="Krazy-8" address="Jesse's"/>
        </heisenberg:next-door>
    </heisenberg:config>

    <flow name="sayMyName">
        <heisenberg:say-my-name/>
    </flow>

    <flow name="sayMyNameOnTarget">
        <heisenberg:say-my-name target="myFace" />
    </flow>

    <flow name="die">
        <heisenberg:die />
    </flow>

    <flow name="getFixedEnemy">
        <heisenberg:get-enemy index="0"/>
    </flow>

    <flow name="getDefaultEnemy">
        <heisenberg:get-enemy />
    </flow>

    <flow name="expressionEnemy">
        <heisenberg:get-enemy index="#[flowVars['enemy']]"/>
    </flow>

    <flow name="collectFromEvent">
        <heisenberg:get-payment-from-event/>
    </flow>

    <flow name="collectFromMessage">
        <heisenberg:get-payment-from-message/>
    </flow>

    <flow name="killFromPayload">
        <heisenberg:kill goodbyeMessage="#[flowVars['goodbye']]"/>
    </flow>

    <flow name="customKillWithDefault">
        <heisenberg:kill-with-custom-message goodbyeMessage="#[flowVars['goodbye']]"/>
    </flow>

    <flow name="customKillWithoutDefault">
        <heisenberg:kill-with-custom-message goodbyeMessage="#[flowVars['goodbye']]"
                                             victim="#[flowVars['victim']]"/>
    </flow>

    <flow name="killMany">
        <heisenberg:kill-many reason="I'm the one who knocks">
            <heisenberg:kill-operations>
                <heisenberg:kill-with-custom-message victim="Gustavo Fring" goodbyeMessage="bye bye"/>
                <heisenberg:kill-with-custom-message victim="Frank" goodbyeMessage="bye bye"/>
                <heisenberg:kill-with-custom-message victim="Nazi dudes" goodbyeMessage="bye bye"/>
            </heisenberg:kill-operations>
        </heisenberg:kill-many>
    </flow>

    <flow name="killManyButOnlyOneProvided">
        <heisenberg:kill-many reason="I'm the one who knocks">
            <heisenberg:kill-operations>
                <heisenberg:kill-with-custom-message victim="Gustavo Fring" goodbyeMessage="bye bye"/>
            </heisenberg:kill-operations>
        </heisenberg:kill-many>
    </flow>

    <flow name="killOne">
        <heisenberg:kill-one reason="I'm the one who knocks">
            <heisenberg:kill-operation>
                <heisenberg:kill-with-custom-message victim="Gustavo Fring" goodbyeMessage="bye bye"/>
            </heisenberg:kill-operation>
        </heisenberg:kill-one>
    </flow>

    <flow name="injectedExtensionManager">
        <heisenberg:get-injected-extension-manager/>
    </flow>

    <flow name="alias">
        <heisenberg:alias greeting="Howdy!" myName="Walter White" age="52"/>
    </flow>


    <flow name="knockStaticInlineDoor">
        <heisenberg:knock>
            <heisenberg:door victim="Inline Skyler" address="308 Negra Arroyo Lane"/>
        </heisenberg:knock>
    </flow>

    <flow name="knockStaticTopLevelDoor">
        <heisenberg:knock door="door"/>
    </flow>

    <flow name="knockDynamicTopLevelDoor">
        <heisenberg:knock door="dynamicDoor"/>
    </flow>

    <flow name="knockDynamicInlineDoor">
        <heisenberg:knock>
            <heisenberg:door victim="#[victim]" address="308 Negra Arroyo Lane"/>
        </heisenberg:knock>
    </flow>

    <flow name="knockManyWithInlineList">
        <heisenberg:knock-many>
            <heisenberg:doors>
                <heisenberg:door victim="Inline Skyler" address="308 Negra Arroyo Lane"/>
                <heisenberg:door victim="#[victim]" address="308 Negra Arroyo Lane"/>
            </heisenberg:doors>
        </heisenberg:knock-many>
    </flow>

    <flow name="knockManyByExpression">
        <heisenberg:knock-many doors="#[doors]"/>
    </flow>

    <flow name="callSaul">
        <heisenberg:call-saul/>
    </flow>

    <flow name="killWithWeapon">
        <heisenberg:kill-with-weapon weapon="#[weapon]"/>
    </flow>

    <flow name="killWithMultipleWeapons">
        <heisenberg:kill-with-multiples-weapons weaponList="#[weapons]"/>
    </flow>

    <flow name="killWithMultipleWildCardWeapons">
        <heisenberg:kill-with-multiple-wild-card-weapons wildCardWeapons="#[weapons]"/>
    </flow>

    <flow name="callGus">
        <heisenberg:call-gus-fring />
    </flow>

    <flow name="cureCancer">
        <heisenberg:cure-cancer />
    </flow>

    <flow name="getSaulNumber">
        <heisenberg:get-saul-phone />
    </flow>
    
    <flow name="literalEcho">
        <heisenberg:literal-echo literalExpression="#[money]"/>
    </flow>
</mule>