modules/extensions-spring-support/src/test/resources/petstore-source-retry-policy-error.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:petstore="http://www.mulesoft.org/schema/mule/petstore"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
               http://www.mulesoft.org/schema/mule/petstore http://www.mulesoft.org/schema/mule/petstore/current/mule-petstore.xsd">

    <flow name="source-fail-on-start" initialState="started">
        <petstore:source failOnStart="true" config-ref="petstore-config">
            <reconnect count="1" frequency="0"/>
        </petstore:source>
        <set-payload value="#[payload]"/>
    </flow>

</mule>
