modules/extensions-spring-support/src/test/resources/petstore-retry-policy.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:petstore="http://www.mulesoft.org/schema/mule/petstore"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
               http://www.mulesoft.org/schema/mule/petstore http://www.mulesoft.org/schema/mule/petstore/current/mule-petstore.xsd">

    <petstore:config name="petstore-valid" cashierName="jim">
        <petstore:valid-connection username="john" password="doe">
            <reconnection failsDeployment="true">
                <reconnect count="2" frequency="5"/>
            </reconnection>
        </petstore:valid-connection>
        <petstore:pets>
            <petstore:pet value="Lassie"/>
            <petstore:pet value="Sapo Pepe"/>
            <petstore:pet value="My mother's parrot"/>
        </petstore:pets>
    </petstore:config>

    <petstore:config name="petstore-invalid" cashierName="jim">
        <petstore:invalid-connection username="john" password="doe">
            <reconnection failsDeployment="false">
                <reconnect count="2" frequency="5" />
            </reconnection>
        </petstore:invalid-connection>
        <petstore:pets>
            <petstore:pet value="Lassie"/>
            <petstore:pet value="Sapo Pepe"/>
            <petstore:pet value="My mother's parrot"/>
        </petstore:pets>
    </petstore:config>

    <flow name="fail-operation-with-connection-exception">
        <petstore:fail-connection config-ref="petstore-valid"/>
    </flow>

    <flow name="fail-connection-validation">
        <petstore:fail-connection config-ref="petstore-invalid"/>
    </flow>

    <flow name="fail-paged-with-connection">
        <petstore:fail-paged-operation failOnPage="#[vars.pageNumber default 0]" stickyConnections="#[vars.sticky default false]" config-ref="petstore-invalid"/>
        <foreach>
            <logger message="#[payload]"/>
        </foreach>
    </flow>

    <flow name="fail-operation-with-connection-exception-tx">
        <try transactionalAction="ALWAYS_BEGIN">
            <petstore:fail-connection config-ref="petstore-valid"/>
        </try>
    </flow>

    <flow name="fail-connection-validation-tx">
        <try transactionalAction="ALWAYS_BEGIN">
            <petstore:fail-connection config-ref="petstore-invalid"/>
        </try>
    </flow>

    <flow name="fail-operation-with-not-handled-exception">
        <petstore:fail-operation-with-exception config-ref="petstore-valid"/>
    </flow>

    <flow name="fail-operation-with-not-handled-throwable">
        <petstore:fail-operation-with-throwable config-ref="petstore-valid"/>
    </flow>

</mule>
