modules/extensions-spring-support/src/test/resources/transaction-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:tx="http://www.mulesoft.org/schema/mule/tx"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
               http://www.mulesoft.org/schema/mule/tx http://www.mulesoft.org/schema/mule/tx/current/mule-tx.xsd">


    <tx:config name="localTx1">
        <tx:connection>
            <pooling-profile maxActive="1" exhaustedAction="WHEN_EXHAUSTED_WAIT"/>
        </tx:connection>
    </tx:config>

    <tx:config name="localTx2">
        <tx:connection>
            <pooling-profile maxActive="1" exhaustedAction="WHEN_EXHAUSTED_WAIT"/>
        </tx:connection>
    </tx:config>

    <tx:config name="nonPoolingTx">
        <tx:non-pooling-connection />
    </tx:config>

    <flow name="commitLocalTx">
        <tx:verify-no-transaction config-ref="localTx1"/>
        <try transactionalAction="ALWAYS_BEGIN">
            <tx:verify-transaction-begun config-ref="localTx1"/>
        </try>
        <tx:verify-transaction-commited config-ref="localTx1"/>
    </flow>

    <flow name="rollbackLocalTx">
        <tx:verify-no-transaction config-ref="localTx1"/>
        <try transactionalAction="ALWAYS_BEGIN">
            <tx:verify-transaction-begun config-ref="localTx1"/>
            <tx:fail/>
        </try>
        <error-handler>
            <on-error-continue>
                <tx:verify-transaction-rolledback config-ref="localTx1"/>
            </on-error-continue>
        </error-handler>
    </flow>

    <flow name="executeTransactionless">
        <tx:verify-no-transaction config-ref="localTx1"/>
        <try transactionalAction="ALWAYS_BEGIN">
            <tx:get-connection transactionalAction="NOT_SUPPORTED" config-ref="localTx1"/>
        </try>
    </flow>

    <flow name="localTxDoesntSupportMultipleResources">
        <try transactionalAction="ALWAYS_BEGIN" >
            <tx:verify-transaction-begun config-ref="localTx1"/>
            <tx:verify-transaction-begun config-ref="localTx2"/>
        </try>
    </flow>

    <flow name="localTxSupportsMultipleOperationsFromSameResource">
        <try transactionalAction="ALWAYS_BEGIN">
            <tx:verify-transaction-begun config-ref="localTx1"/>
            <tx:verify-transaction-begun config-ref="localTx1"/>
        </try>
        <tx:verify-transaction-commited config-ref="localTx1"/>
    </flow>

    <flow name="pagedOperationInTx">
        <set-variable variableName="accumulator" value="#[[]]" />
        <try transactionalAction="ALWAYS_BEGIN">
            <tx:paged-transactional-operation config-ref="nonPoolingTx"/>
            <flow-ref name="accumulatePages" />
        </try>
    </flow>

    <flow name="pagedOperationWithoutTx">
        <set-variable variableName="accumulator" value="#[[]]" />
        <tx:paged-transactional-operation config-ref="nonPoolingTx"/>
        <flow-ref name="accumulatePages" />
    </flow>

    <sub-flow name="accumulatePages">
        <foreach>
            <set-variable variableName="accumulator" value="#[vars.accumulator ++ [payload]]" />
        </foreach>
    </sub-flow>
</mule>
