extensions/db/src/test/resources/integration/update/bulk-update-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:db="http://www.mulesoft.org/schema/mule/db"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
            http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">

    <flow name="bulkUpdate">
        <db:bulk-update parameterValues="#[payload]">
            <db:sql>update PLANET set NAME='Mercury' where NAME= :name</db:sql>
        </db:bulk-update>
    </flow>

    <flow name="bulkUpdateWithOverriddenType">
        <db:bulk-update parameterValues="#[payload]">
            <db:sql>update PLANET set NAME='Mercury' where NAME= :name</db:sql>
            <db:parameter-types>
                <db:parameter-type key="name" type="VARCHAR" />
            </db:parameter-types>
        </db:bulk-update>
    </flow>

    <flow name="updateBulkAfterSelect">
        <db:select target="select">
            <db:sql>select * from PLANET</db:sql>
        </db:select>

        <db:bulk-update parameterValues="#[payload]">
            <db:sql>update PLANET set NAME='Mercury' where NAME= :name</db:sql>
        </db:bulk-update>
    </flow>
</mule>
