extensions/db/src/test/resources/integration/update/update-timeout-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:dbn="http://www.mulesoft.org/schema/mule/dbn"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
            http://www.mulesoft.org/schema/mule/dbn http://www.mulesoft.org/schema/mule/dbn/current/mule-dbn.xsd">

    <flow name="queryTimeout">
        <dbn:update queryTimeout="1">
            <dbn:sql>update PLANET set NAME='Mercury' where DELAY(#[payload]) = 1</dbn:sql>
        </dbn:update>
    </flow>
</mule>
