extensions/file/src/test/resources/file-read-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:file="http://www.mulesoft.org/schema/mule/file"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">

    <file:config name="file">
        <file:connection workingDir="${workingDir}" />
    </file:config>

    <flow name="read">
        <logger level="ERROR" message="#[streaming]" />
        <choice>
            <when expression="#[streaming]">
                <file:read path="#[path]" />
                <object-to-string-transformer />
            </when>
            <otherwise>
                <file:read path="#[path]">
                    <in-memory-stream />
                </file:read>
            </otherwise>
        </choice>
    </flow>

    <flow name="readWithLock">
        <file:read path="#[path]" lock="true">
            <in-memory-stream />
        </file:read>
    </flow>

    <flow name="readWithForcedMimeType">
        <file:read path="#[path]" outputMimeType="test/test"/>
        <object-to-string-transformer />
    </flow>
    
</mule>
