extensions/file/src/test/resources/file-delete-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:file="http://www.mulesoft.org/schema/mule/file"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">

    <file:config name="file" workingDir="${workingDir}" />

    <flow name="delete">
        <file:delete path="#[delete]" />
    </flow>

    <flow name="readAndDelete">
        <file:read path="#[delete]" />
        <file:delete />
    </flow>
</mule>
