tests/integration/src/test/resources/org/mule/test/usecases/routing/response/request-reply-with-multiple-connectors-flow.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
        xmlns:http="http://www.mulesoft.org/schema/mule/http"
        xmlns:test="http://www.mulesoft.org/schema/mule/test"
        xmlns="http://www.mulesoft.org/schema/mule/core"
        xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
        http://www.mulesoft.org/schema/mule/test http://www.mulesoft.org/schema/mule/test/current/mule-test.xsd">

    <vm:connector name="default"/>
    <vm:connector name="alternate"/>

    <flow name="main">
        <vm:inbound-endpoint path="input" connector-ref="default"/>
        <test:component appendString="-out"/>
        <request-reply storePrefix="foo">
            <vm:outbound-endpoint path="request" connector-ref="default"/>
            <vm:inbound-endpoint path="reply" connector-ref="default">
                <logger level="ERROR" message="Got to inbound endpoint: #[payload]"/>
            </vm:inbound-endpoint>
        </request-reply>
        <logger level="ERROR" message="Returned fron request-reply"/>
        <vm:outbound-endpoint path="destination" connector-ref="default"/>
    </flow>


    <flow name="request-reply">
        <composite-source>
            <vm:inbound-endpoint path="request" connector-ref="default"/>
            <http:inbound-endpoint path="requestHttp" host="localhost" port="8080" />
        </composite-source>
        <test:component appendString="-and-back-in"/>
    </flow>
</mule>