tests/integration/src/test/resources/org/mule/test/integration/messaging/message-property-scopes-config-flow.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" 
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:spring="http://www.springframework.org/schema/beans"
      xsi:schemaLocation="
       http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd">

    <spring:bean name="date" class="java.util.Date"/>

    <flow name="InService1">
        <message-properties-transformer name="SetSessionProperty" scope="session">
            <add-message-property key="testProperty" value-ref="date"/>
        </message-properties-transformer>
        <message-properties-transformer>
            <!-- 2 issues here: * Use MPT's copy/propagate simplified syntax * Session props should probably be propagated 
                automatically? -->
            <add-message-property key="testProperty" value="#[sessionVars.testProperty]"/>
        </message-properties-transformer>
        <flow-ref name="InService2"/>
    </flow>

    <flow name="InService2">
        <message-properties-transformer name="SetInvocationProperty" scope="invocation">
            <add-message-property key="testProperty" value-ref="date"/>
        </message-properties-transformer>
        <flow-ref name="ResponseService"/>
    </flow>

    <flow name="ResponseService">
        <custom-transformer name="RetrieveProperty" class="org.mule.test.integration.message.RetrievePropertyTransformer">
            <spring:property name="property" value="testProperty"/>
        </custom-transformer>
        <echo-component/>
    </flow>

</mule>
