tests/integration/src/test/resources/org/mule/properties/session-properties-in-exception-strategy-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:test="http://www.mulesoft.org/schema/mule/test"
      xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/test http://www.mulesoft.org/schema/mule/test/current/mule-test.xsd">

    <flow name="test">
        <message-properties-transformer scope="session">
            <add-message-property key="ErrorCount" value="#[0]"/>
        </message-properties-transformer>

        <collection-splitter/>
        <flow-ref name="splitterFlow"/>
        <collection-aggregator/>
    </flow>

    <flow name="splitterFlow">
        <test:component throwException="true"/>

        <catch-exception-strategy>
            <flow-ref name="exceptionFlow"/>
        </catch-exception-strategy>
    </flow>

    <flow name="exceptionFlow">
        <message-properties-transformer scope="session">
            <add-message-property key="ErrorCount" value="#[sessionVars.ErrorCount + 1]"/>
        </message-properties-transformer>
    </flow>
</mule>
