modules/db/src/test/resources/integration/executeddl/execute-ddl-source-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:db="http://www.mulesoft.org/schema/mule/db"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
            http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">

    <flow name="executeDdlCustomSource">
        <inbound-endpoint address="vm://executeDdlCustomSource" exchange-pattern="request-response"/>


        <set-variable variableName="sqlText" value="CREATE TABLE TestDdl(NAME VARCHAR(255))"/>

        <db:execute-ddl config-ref="dbConfig" source="#[sqlText]">
            <db:dynamic-query>#[payload]</db:dynamic-query>
        </db:execute-ddl>
    </flow>
</mule>
