tests/integration/src/test/resources/org/mule/test/integration/providers/file/file-runtime-exception-strategy-flow.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" 
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:spring="http://www.springframework.org/schema/beans" 
      xmlns:file="http://www.mulesoft.org/schema/mule/file"
      xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
       http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
       http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">

    <file:connector name="fileConnector" outputAppend="true" outputPattern="test-#[function:count].out"/>

    <flow name="FolderToVM">
        <inbound-endpoint address="file://${workingDirectory}/in" exchange-pattern="one-way">
            <custom-transformer name="failPoint" class="org.mule.test.transformers.FailingRuntimeTransformer"/>
        </inbound-endpoint>
        <!--<endpoint address="stdio://System.out" exchange-pattern="one-way"/> -->
        <outbound-endpoint address="file://${workingDirectory}/out" exchange-pattern="one-way"/>
        <default-exception-strategy>
            <outbound-endpoint address="file://${workingDirectory}/errors" exchange-pattern="one-way"/>
        </default-exception-strategy>
    </flow>

</mule>
