tests/http/src/test/resources/http-listener-response-builder-global-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:httpn="http://www.mulesoft.org/schema/mule/httpn"
      xsi:schemaLocation="
               http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
               http://www.mulesoft.org/schema/mule/httpn http://www.mulesoft.org/schema/mule/httpn/current/mule-httpn.xsd">

    <httpn:listener-config name="listenerConfig">
        <httpn:listener-connection host="localhost" port="${port}"/>
    </httpn:listener-config>

    <httpn:response-builder name="globalResponseBuilder">
        <httpn:header headerName="User-Agent" value="Mule 3.6.0"/>
        <httpn:header headerName="Date" value="#[mel:server.dateTime]" />
    </httpn:response-builder>

    <httpn:response-builder name="globalCompositeResponseBuilder">
        <httpn:builder ref="globalResponseBuilder"/>
        <httpn:header headerName="User-Agent" value="Mule 3.8.0"/>
    </httpn:response-builder>

    <flow name="globalResponseBuilderFlow">
        <httpn:listener config-ref="listenerConfig" path="${globalResponseBuilderPath}">
            <httpn:response-builder>
                <httpn:builder ref="globalResponseBuilder"/>
            </httpn:response-builder>
        </httpn:listener>
        <echo-component/>
    </flow>

    <flow name="globalResponseBuilderCustomizedFlow">
        <httpn:listener config-ref="listenerConfig" path="${globalResponseBuilderCustomizedPath}">
            <httpn:response-builder>
                <httpn:builder ref="globalResponseBuilder"/>
                <httpn:header headerName="User-Agent" value="Mule 3.7.0"/>
            </httpn:response-builder>
        </httpn:listener>
        <echo-component/>
    </flow>

    <flow name="globalCompositeResponseBuilderFlow">
        <httpn:listener config-ref="listenerConfig" path="${globalCompositeResponseBuilderPath}">
            <httpn:response-builder>
                <httpn:builder ref="globalCompositeResponseBuilder"/>
                <httpn:header headerName="User-Agent" value="Mule 3.7.0"/>
            </httpn:response-builder>
        </httpn:listener>
        <echo-component/>
    </flow>

</mule>
