tests/http/src/test/resources/http-request-status-codes-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:httpn="http://www.mulesoft.org/schema/mule/httpn"
      xsi:schemaLocation="
               http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
               http://www.mulesoft.org/schema/mule/httpn http://www.mulesoft.org/schema/mule/httpn/current/mule-httpn.xsd">

    <httpn:request-config name="requestConfig">
        <httpn:request-connection host="localhost" port="${httpPort}"/>
    </httpn:request-config>

    <flow name="default">
        <httpn:request config-ref="requestConfig" path="status" key="ANY">
            <httpn:request-builder>
                <httpn:requester-request-builder>
                    <httpn:query-params>
                        <httpn:query-param key="code" value="#[code]" />
                    </httpn:query-params>
                </httpn:requester-request-builder>
            </httpn:request-builder>
        </httpn:request>
    </flow>

    <flow name="success">
        <httpn:request config-ref="requestConfig" path="status" key="ANY">
            <httpn:response-validator>
                <httpn:success-status-code-validator values="409" />
            </httpn:response-validator>
            <httpn:request-builder>
                <httpn:requester-request-builder>
                    <httpn:query-params>
                        <httpn:query-param key="code" value="#[code]" />
                    </httpn:query-params>
                </httpn:requester-request-builder>
            </httpn:request-builder>
        </httpn:request>
    </flow>

    <flow name="failure">
        <httpn:request config-ref="requestConfig" path="status" key="ANY">
            <httpn:response-validator>
                <httpn:failure-status-code-validator values="201" />
            </httpn:response-validator>
            <httpn:request-builder>
                <httpn:requester-request-builder>
                    <httpn:query-params>
                        <httpn:query-param key="code" value="#[code]" />
                    </httpn:query-params>
                </httpn:requester-request-builder>
            </httpn:request-builder>
        </httpn:request>
    </flow>



</mule>