tests/http/src/test/resources/http-request-auth-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xsi:schemaLocation="
               http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
               http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">

    <http:request-config name="basicConfig">
        <http:request-connection host="localhost" port="${httpPort}">
            <http:authentication>
                <http:basic-authentication username="#[mel:user]" password="#[mel:password]" preemptive="#[mel:preemptive]" />
            </http:authentication>
        </http:request-connection>
    </http:request-config>

    <flow name="basicAuthRequest">
        <http:request config-ref="basicConfig" path="/basic" method="GET"/>
        <object-to-string-transformer />
    </flow>

    <http:request-config name="digestConfig">
        <http:request-connection host="localhost" port="${httpPort}">
            <http:authentication>
                <http:digest-authentication username="#[mel:user]" password="#[mel:password]" />
            </http:authentication>
        </http:request-connection>
    </http:request-config>

    <flow name="digestAuthRequest">
        <http:request config-ref="digestConfig" path="/digest" method="GET"/>
        <object-to-string-transformer />
    </flow>

</mule>
