tests/http/src/test/resources/http-listener-content-type-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="
            http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
            http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">

    <http:listener-config name="httpConf">
        <http:listener-connection host="localhost" port="${httpPort}"/>
    </http:listener-config>

    <flow name="listenerContentType" >
        <http:listener config-ref="httpConf" path="testInput"/>

        <set-payload value="{ &quot;key1&quot; : &quot;value, &quot;key2&quot; : 2 }" mimeType="application/json" encoding="UTF-8"/>
    </flow>

    <flow name="listenerContentTypeBuilder" >
        <http:listener config-ref="httpConf" path="testBuilder">
            <http:response>
                <http:headers>
                    #[mel:['content-type' : 'text/plain']]
                </http:headers>
            </http:response>
        </http:listener>

        <set-payload value="{ &quot;key1&quot; : &quot;value, &quot;key2&quot; : 2 }" mimeType="application/json" encoding="UTF-8"/>
    </flow>
</mule>
