tests/http/src/test/resources/http-listener-url-encoded-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:httpn="http://www.mulesoft.org/schema/mule/httpn"
      xmlns:test="http://www.mulesoft.org/schema/mule/test"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="
               http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
               http://www.mulesoft.org/schema/mule/test http://www.mulesoft.org/schema/mule/test/current/mule-test.xsd
               http://www.mulesoft.org/schema/mule/httpn http://www.mulesoft.org/schema/mule/httpn/current/mule-httpn.xsd">

    <httpn:listener-config name="listenerConfig">
        <httpn:listener-connection host="localhost" port="${port}"/>
    </httpn:listener-config>

    <flow name="testFlow1">
        <httpn:listener config-ref="listenerConfig"  path="${path}">
            <httpn:response-builder>
                <httpn:headers>
                    <httpn:header key="Content-Type" value="application/x-www-form-urlencoded"/>
                </httpn:headers>
            </httpn:response-builder>
        </httpn:listener>
        <test:queue name="out"/>
    </flow>

    <flow name="testFlow2">
        <httpn:listener config-ref="listenerConfig"  path="map">
            <httpn:response-builder>
                <httpn:headers>
                    <httpn:header key="Content-Type" value="application/x-www-form-urlencoded"/>
                </httpn:headers>
            </httpn:response-builder>
        </httpn:listener>
        <expression-transformer expression="#[message.getAttributes().getQueryParams()]"/>

        <!-- The default handler ignores the error and returns 200, so we can't detect if it was handled correctly -->
        <catch-exception-strategy>
            <test:component throwException="true"/>
        </catch-exception-strategy>
    </flow>
</mule>