tests/http/src/test/resources/http-request-send-body-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:httpn="http://www.mulesoft.org/schema/mule/httpn"
      xsi:schemaLocation="
               http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
               http://www.mulesoft.org/schema/mule/httpn http://www.mulesoft.org/schema/mule/httpn/current/mule-httpn.xsd">

    <httpn:request-config name="config" sendBodyMode="NEVER" >
        <httpn:request-connection host="localhost" port="${httpPort}"/>
    </httpn:request-config>

    <flow name="sendBodyConfig">
        <httpn:request config-ref="config" path="requestPath" method="#[method]" />
    </flow>

    <flow name="sendBodyAuto">
        <httpn:request config-ref="config" path="requestPath" method="#[method]" sendBodyMode="AUTO"/>
    </flow>

    <flow name="sendBodyAlways">
        <httpn:request config-ref="config" path="requestPath" method="#[method]" sendBodyMode="ALWAYS"/>
    </flow>

    <flow name="sendBodyNever">
        <httpn:request config-ref="config" path="requestPath" method="#[method]" sendBodyMode="NEVER"/>
    </flow>


</mule>
