modules/http/src/test/resources/http-request-content-type-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xsi:schemaLocation="
            http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
            http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">

    <http:request-config name="requesterConfig" host="localhost" port="${httpPort}" />

    <flow name="payload">
        <set-payload value="{ &quot;key1&quot; : &quot;value, &quot;key2&quot; : 2 }" mimeType="application/json" encoding="UTF-8"/>

        <http:request config-ref="requesterConfig" port="${httpPort}" path="requestServer" method="#[method]"/>
    </flow>

    <flow name="header">
        <set-payload value="{ &quot;key1&quot; : &quot;value, &quot;key2&quot; : 2 }" mimeType="text/plain" encoding="UTF-16"/>

        <http:request config-ref="requesterConfig" port="${httpPort}" path="requestServer" method="#[method]">
            <http:request-builder>
                <http:header headerName="Content-Type" value="application/json; charset=UTF-8"/>
            </http:request-builder>
        </http:request>
    </flow>

    <flow name="property">
        <set-payload value="{ &quot;key1&quot; : &quot;value, &quot;key2&quot; : 2 }" mimeType="text/plain" encoding="UTF-16"/>

        <set-property propertyName="Content-Type" value="application/json; charset=UTF-8"/>

        <http:request config-ref="requesterConfig" port="${httpPort}" path="requestServer" method="#[method]"/>
    </flow>

    <flow name="payloadNever">
        <set-payload value="{ &quot;key1&quot; : &quot;value, &quot;key2&quot; : 2 }" mimeType="application/json" encoding="UTF-8"/>

        <http:request config-ref="requesterConfig" port="${httpPort}" path="requestServer" method="#[method]" sendBodyMode="NEVER"/>
    </flow>

    <flow name="payloadAlways">
        <set-payload value="{ &quot;key1&quot; : &quot;value, &quot;key2&quot; : 2 }" mimeType="application/json" encoding="UTF-8"/>

        <http:request config-ref="requesterConfig" port="${httpPort}" path="requestServer" method="#[method]" sendBodyMode="ALWAYS"/>
    </flow>
</mule>
