tests/integration/src/test/resources/org/mule/test/integration/client/client-flow-vars-when-dispatch-flow.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:spring="http://www.springframework.org/schema/beans"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:test="http://www.mulesoft.org/schema/mule/test"
      xsi:schemaLocation="
           http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
           http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
           http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
           http://www.mulesoft.org/schema/mule/test http://www.mulesoft.org/schema/mule/test/current/mule-test.xsd">

    <http:listener-config name="listenerConfig">
        <http:listener-connection host="localhost" port="${port}"/>
    </http:listener-config>

    <flow name="innerFlow">
        <http:listener path="innertest" config-ref="listenerConfig"/>
        <logger level="INFO"/>
    </flow>

    <flow name="innerFlowRequestResponse">
        <http:listener path="innerrequestresponsetest" config-ref="listenerConfig"/>
        <logger level="INFO"/>
    </flow>

    <spring:beans>
        <spring:bean id="myProcessor"
                     class="org.mule.test.integration.client.MuleClientDispatchWithoutLosingVariablesTestCase$MessageProcessorDispatchFlowUsingNewMuleClient"/>
    </spring:beans>

    <flow name="flowVarsFlowUsingProcessor">
        <http:listener path="flowVarsFlowUsingProcessor" config-ref="listenerConfig"/>
        <set-variable variableName="team" value="Sales"/>
        <processor ref="myProcessor"/>
        <set-variable variableName="ammount" value="100"/>
        <test:assert expression="#[mel:flowVars['team'] == 'Sales']" />
        <test:assert expression="#[mel:flowVars['ammount'] == '100']" />
    </flow>

    <flow name="flowVarsFlowUsingJavaComponent">
        <http:listener path="flowVarsFlowUsingJavaComponent" config-ref="listenerConfig"/>
        <set-variable variableName="team" value="Sales"/>
        <component class="org.mule.test.integration.client.MuleClientDispatchWithoutLosingVariablesTestCase$JavaComponentDispatchFlowUsingNewMuleClient"/>
        <set-variable variableName="ammount" value="100"/>
        <test:assert expression="#[mel:flowVars['team'] == 'Sales']" />
        <test:assert expression="#[mel:flowVars['ammount'] == '100']" />
    </flow>
</mule>
