tests/integration/src/test/resources/org/mule/test/integration/routing/outbound/multicaster-async-with-transformers-test-flow.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" 
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:spring="http://www.springframework.org/schema/beans" 
      xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
      xmlns:test="http://www.mulesoft.org/schema/mule/test"
      xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
       http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
       http://www.mulesoft.org/schema/mule/test http://www.mulesoft.org/schema/mule/test/current/mule-test.xsd
       http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">

    <vm:connector name="vm"/>

    <flow name="Distributor">
        <vm:inbound-endpoint path="distributor.queue" exchange-pattern="one-way"/>
        <all>
            <vm:outbound-endpoint path="service1.queue" exchange-pattern="one-way">
                <expression-transformer>
                    <return-argument evaluator="groovy" expression="payload.fruit[0]"/>
                </expression-transformer>
            </vm:outbound-endpoint>
            <vm:outbound-endpoint path="service2.queue" exchange-pattern="one-way">
                <expression-transformer>
                    <return-argument evaluator="groovy" expression="payload.fruit[1]"/>
                </expression-transformer>
            </vm:outbound-endpoint>
            <vm:outbound-endpoint path="service3.queue" exchange-pattern="one-way">
                <expression-transformer>
                    <return-argument evaluator="groovy" expression="payload.fruit[2]"/>
                </expression-transformer>
            </vm:outbound-endpoint>
        </all>
    </flow>

    <flow name="ServiceOne">
        <vm:inbound-endpoint path="service1.queue" exchange-pattern="one-way"/>
        <test:component>
            <test:return-data>#[function:shortPayloadClass] Received</test:return-data>
        </test:component>
        <vm:outbound-endpoint path="collector.queue" exchange-pattern="one-way"/>
    </flow>

    <flow name="ServiceTwo">
        <vm:inbound-endpoint path="service2.queue" exchange-pattern="one-way"/>
        <test:component>
            <test:return-data>#[function:shortPayloadClass] Received</test:return-data>
        </test:component>
        <vm:outbound-endpoint path="collector.queue" exchange-pattern="one-way"/>
    </flow>

    <flow name="ServiceThree">
        <vm:inbound-endpoint path="service3.queue" exchange-pattern="one-way"/>
        <test:component>
            <test:return-data>#[function:shortPayloadClass] Received</test:return-data>
        </test:component>
        <vm:outbound-endpoint path="collector.queue" exchange-pattern="one-way"/>
    </flow>

</mule>
