modules/extensions-xml-support/src/test/resources/flows/flows-using-module-json-custom-types.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:modulejson="http://www.mulesoft.org/schema/mule/module-json-custom-types"
      xsi:schemaLocation="
      http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
      http://www.mulesoft.org/schema/mule/module-json-custom-types http://www.mulesoft.org/schema/mule/module-json-custom-types/current/mule-module-json-custom-types.xsd">


    <flow name="testIsJsonType1FromPayloadFlow">
        <modulejson:is-jsontype1 aParameter="#[payload]" />
    </flow>

    <flow name="testIsJsonType1FromExpressionFlow">
        <modulejson:is-jsontype1 aParameter="#[{ 'street_type': 'Avenue', 'street_name': 'calle 7'}]" />
    </flow>

    <flow name="testIsJsonType2FromPayloadFlow">
        <modulejson:is-jsontype2 aParameter="#[payload]" />
    </flow>

    <flow name="testIsJsonType2FromExpressionFlow">
        <modulejson:is-jsontype2 aParameter="#[{ 'firstName': 'Dardo', 'lastName': 'Rocha', 'age': 83}]" />
    </flow>

    <flow name="testHardcodedType1Flow">
        <modulejson:get-hardcoded-type1/>
    </flow>

    <flow name="testHardcodedType1AndExtractFieldsInVarsFlow">
        <modulejson:get-hardcoded-type1/>
        <set-variable variableName="extracted-street_type" value="#[payload.street_type]" />
        <set-variable variableName="extracted-street_name" value="#[payload.street_name]" />
    </flow>
</mule>
